<div [formGroup]="matrixForm">
    <h2
        *ngIf="question?.title"
        class="color-primary {{
            question.styles?.['title-font-size'] ? 'responsive-font-size-' + question.styles?.['title-font-size'] : 'responsive-font-size-md'
        }}"
        [innerHTML]="handleText(question.title)"
    ></h2>
    <p
        *ngIf="question?.textContent || true"
        class="sub-text {{
        question.styles?.['text-content-font-size'] ? 'responsive-font-size-' + question.styles?.['text-content-font-size'] : 'responsive-font-size-md'
    }}"
        [innerHTML]="handleText(question.textContent)"
    ></p>

    <mat-error style="margin-bottom: 10px" class="responsive-font-size-sm" *ngIf="!matrixForm.valid">{{
        'errorMessages.required' | translate
    }}</mat-error>

    <div>
        <div style="display: flex">
            <div class="tile">{{ legendTitle }}</div>
            <div class="tile" *ngFor="let legendOption of legend">
                {{ handleText(legendOption.label) }}
            </div>
        </div>
        <ng-container *ngFor="let matrixOption of matrixOptions">
            <mat-radio-group
                color="primary"
                style="display: flex"
                [formControlName]="getControlName(question.key, matrixOption.label)"
            >
                <div class="tile-radio-button">
                    <div style="padding: 1rem; word-break: break-all">{{ handleText(matrixOption.label) }}</div>
                </div>
                <div class="tile-radio-button" *ngFor="let legendOption of legend">
                    <mat-radio-button [value]="legendOption.value"></mat-radio-button>
                </div>
            </mat-radio-group>
        </ng-container>
    </div>
</div>
