<div class="card-padding">
    <div>
        <h1 style="color: #3f51b5">{{ 'landing-page.forgot-password.title' | translate }}</h1>
        <div>{{ 'landing-page.forgot-password.instructions' | translate }}</div>
        <mat-form-field appearance="outline" class="w-100 mt-2" floatLabel="always">
            <mat-label>{{ 'landing-page.forgot-password.email' | translate }}</mat-label>
            <input
                #emailRef="ngModel"
                matInput
                type="email"
                placeholder="example@domain.com"
                [(ngModel)]="email"
                email
                required
            />
            <mat-error *ngIf="emailRef.errors?.email">{{ 'errorMessages.emailInvalid' | translate }}</mat-error>
            <mat-error *ngIf="emailRef.errors?.required">{{ 'errorMessages.required' | translate }}</mat-error>
        </mat-form-field>
        <button
            type="submit"
            class="btn-block py-2"
            mat-flat-button
            color="primary"
            [disabled]="emailRef.invalid"
            style="text-transform: uppercase"
            required
            (click)="handleSubmit()"
        >
            {{ 'landing-page.forgot-password.submit-button' | translate }}
        </button>

        <div matRipple matRippleColor="#ffffff33">
            <a
                class="btn-block my-3 underline-on-hover"
                style="color: #3f51b5; text-align: center; text-transform: uppercase"
                (click)="navigateToLoginPage()"
            >
                {{ 'landing-page.forgot-password.cancel' | translate }}
            </a>
        </div>
    </div>
</div>
