<div class="card-padding">
    <div>
        <h1 style="color: #3f51b5">Forgot your password?</h1>
        <span> Enter your email address below to reset your password. You may need to check your spam folder </span>
        <mat-form-field appearance="outline" class="w-100 mt-2" floatLabel="always">
            <mat-label>EMAIL</mat-label>
            <input
                #emailRef="ngModel"
                matInput
                type="email"
                placeholder="example@domain.com"
                [(ngModel)]="email"
                email
                required
            />
            <mat-error *ngIf="emailRef.errors?.email">Valid email required</mat-error>
            <mat-error *ngIf="emailRef.errors?.required">This is required</mat-error>
        </mat-form-field>
        <button
            type="submit"
            class="btn-block py-2"
            mat-flat-button
            color="primary"
            [disabled]="emailRef.invalid"
            required
            (click)="handleSubmit()"
        >
            SUBMIT
        </button>

        <div matRipple matRippleColor="#ffffff33">
            <a
                class="btn-block my-3 underline-on-hover"
                style="color: #3f51b5; text-align: center"
                (click)="navigateToLoginPage()"
            >
                Cancel
            </a>
        </div>
    </div>
</div>
