<div class="card-padding">
    <div>
        <h1 style="color: #3f51b5; margin: 0">Forgot your password?</h1>
        <h1 style="color: gray">Avez-vous oublié votre mot de passe?</h1>
        <div>Enter your email address below to reset your password. You may need to check your spam folder</div>
        <div class="my-2">
            Saisissez votre courriel pour réinitialiser vorte mot de passe. Vous devrez peut-être vérifier votre dossier
            spam
        </div>
        <mat-form-field appearance="outline" class="w-100 mt-2" floatLabel="always">
            <mat-label>EMAIL / COURRIEL</mat-label>
            <input
                #emailRef="ngModel"
                matInput
                type="email"
                placeholder="example@domain.com"
                [(ngModel)]="email"
                email
                required
            />
            <mat-error *ngIf="emailRef.errors?.email">This must be a valid email</mat-error>
            <mat-error *ngIf="emailRef.errors?.required">This is required</mat-error>
        </mat-form-field>
        <button
            type="submit"
            class="btn-block py-2"
            mat-flat-button
            color="primary"
            [disabled]="emailRef.invalid"
            required
            (click)="handleSubmit()"
        >
            SUBMIT / SOUMETTRE
        </button>

        <div matRipple matRippleColor="#ffffff33">
            <a
                class="btn-block my-3 underline-on-hover"
                style="color: #3f51b5; text-align: center"
                (click)="navigateToLoginPage()"
            >
                Cancel / Annuler
            </a>
        </div>
    </div>
</div>
