<div class="questionnaire-container">

    <h2 class="mat-h2 my-3" align="center">
        <b>Questionnaire</b>
        <hr>
    </h2>

    <div [formGroup]="demographicsQuestionnaire" class="form">
        <div class="py-2">
            <label class="font-weight-bold w-100">What is your age (in years)?</label>
            <mat-form-field>
                <input required formControlName="age" matInput type="number" min="18" max="122">
                <mat-error *ngIf="demographicsQuestionnaire.get('age')?.hasError('required')">This is required</mat-error>
                <mat-error *ngIf="demographicsQuestionnaire.get('age')?.hasError('min')">You must be 18 or over</mat-error>
                <mat-error *ngIf="demographicsQuestionnaire.get('age')?.hasError('max')">Please enter a valid age</mat-error>
            </mat-form-field>
        </div>
        <br>
        <div class="py-2 d-flex flex-column">
            <label class="font-weight-bold">What sex were you assigned at birth?</label>
            <br>
            <mat-radio-group formControlName="sex" required>
                <mat-radio-button class="w-100" [value]="'female'">Female</mat-radio-button>
                <mat-radio-button class="w-100" [value]="'male'">Male</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="demographicsQuestionnaire.get('sex')?.hasError('required')">This is required</mat-error>
        </div>
        <br>
        <div class="py-2 d-flex flex-column">
            <label class="font-weight-bold">How do you describe yourself?</label>
            <br>
            <mat-radio-group formControlName="selfIdentification" required>
                <mat-radio-button class="w-100" [value]="'female'">Female</mat-radio-button>
                <mat-radio-button class="w-100" [value]="'male'">Male</mat-radio-button>
                <mat-radio-button class="w-100" [value]="'transgender'">Transgender</mat-radio-button>
                <mat-radio-button class="w-100" [value]="'none'">Do not identify as female, male, or transgender</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="demographicsQuestionnaire.get('selfIdentification')?.hasError('required')">At least one task is required</mat-error>
        </div>
        <br>
        <div class="py-2">
            <label class="font-weight-bold w-100">How many years of education do you have (completing high school equals 12 years)?</label>
            <mat-form-field>
                <input required formControlName="yearsOfEducation" matInput type="number" min="0" max="30">
                <mat-error *ngIf="demographicsQuestionnaire.get('yearsOfEducation')?.hasError('required')">This is required</mat-error>
                <mat-error *ngIf="demographicsQuestionnaire.get('yearsOfEducation')?.hasError('min')">Please enter a valid number</mat-error>
                <mat-error *ngIf="demographicsQuestionnaire.get('yearsOfEducation')?.hasError('max')">Please enter a valid number</mat-error>
            </mat-form-field>
        </div>
        <br>
        <div class="py-2">
            <label class="font-weight-bold">Do you have any of the following neurological conditions: neurodegenerative disorder (e.g. Parkinson's or Alzheimer's), seizures/epilepsy, brain tumor, stroke?</label>
            <mat-radio-group formControlName="hasNeuroConditions" required>
                <mat-radio-button class="w-100" [value]="true">Yes</mat-radio-button>
                <mat-radio-button class="w-100" [value]="false">No</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="demographicsQuestionnaire.get('hasNeuroConditions')?.hasError('required')">This is required</mat-error>
        </div>
        <br>
        <div class="py-2">
            <label class="font-weight-bold">Do you have any of the following psychiatric conditions: currently active major depression, bipolar disorder, schizophrenia?</label>
            <mat-radio-group formControlName="hasPsychConditions" required>
                <mat-radio-button class="w-100" [value]="true">Yes</mat-radio-button>
                <mat-radio-button class="w-100" [value]="false">No</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="demographicsQuestionnaire.get('hasPsychConditions')?.hasError('required')">This is required</mat-error>
        </div>
        <br>


        <div align="center" class="bottom-button-bar">
            <div class="d-flex flex-row align-items-center justify-content-around">
                <div class="m-2">
                    <button mat-raised-button (click)="cancel()" color="warn">
                        CANCEL
                        &nbsp;
                        <mat-icon>
                            clear
                        </mat-icon>
                    </button>
                </div>
                <div class="m-2">
                    <button mat-raised-button color="primary" (click)="submit()" [disabled]="!demographicsQuestionnaire.valid">
                        SUBMIT
                        &nbsp;
                        <mat-icon>
                            check
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>