<div class="container-fluid p-4">
    <div class="d-flex justify-content-between">
        <h2>Your Data</h2>
    </div>

    <button class="select-button mt-2" mat-button [matMenuTriggerFor]="studyCodes">
        Select Data
        <mat-icon>dehaze</mat-icon>
    </button>

    <mat-menu #studyCodes="matMenu">
        <button *ngFor="let study of experiments | async" mat-menu-item [matMenuTriggerData]="{ 'code': study.code }" [matMenuTriggerFor]="options">
            <b>{{ study.code }}</b>
            {{ study.name }} 
        </button>
    </mat-menu>

    <hr>

    <mat-menu #options="matMenu" #optionsMenu>
        <!-- assign menuCode as the study.code -->
        <ng-template matMenuContent let-menuCode="code">
            <button (click)="getAndDisplayData(menuCode, option)" mat-menu-item *ngFor="let option of optionsList(menuCode) | async">{{ mapTaskIdToTitle(option) }}</button>
            <button (click)="getAndDisplayData(menuCode, 'experiment_users')" mat-menu-item>Registered Participants</button>
            <button (click)="getAndDisplayData(menuCode, 'demographics_questionnaire_responses')" mat-menu-item>Demographics Questionnaire</button>
            <button (click)="getAndDisplayData(menuCode, 'feedback_questionnaire_responses')" mat-menu-item>Feedback Questionnaire</button>
        </ng-template>
    </mat-menu>

    <app-data-table [fileName]="fileName" [json]="tableData"></app-data-table>

</div>