<div class="container-fluid wrapper task-text flex-column-center">
    <div *ngIf="showStimulus" class="full-box flex-column-center">
        <div align="center">
            <table>
                <tr *ngFor="let gridRow of this.currentStimulus.grid">
                    <td *ngFor="let button of gridRow">
                        <button
                            *ngIf="button.value"
                            class="fab"
                            [style.background-color]="getColor(button.value)"
                            #myButton
                            mat-fab
                            (click)="handleRoundInteraction({ button: myButton, value: button.value })"
                        >
                            {{ button.value }}
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- <div class="full-box flex-column-space-between" *ngIf="step === 1">

        <div class="h-100 flex-column-center uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/trailmaking/1.png" alt="Trailmaking instructions">
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box flex-column-space-between" *ngIf="step === 2">

        <div class="h-100 flex-column-center uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/trailmaking/2.png" alt="Trailmaking instructions">
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startPractice()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box flex-column-center" *ngIf="step === 3">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <div class="full-box flex-column-center" *ngIf="step === 4">

        <div align="center">
            <table>
                <tr *ngFor="let row of gridConfig.grid">
                    <td *ngFor="let col of row">
                        <button *ngIf="col.value" class="fab" [style.background-color]="getColor(col.value)" #myButton mat-fab (click)="registerClick(myButton, col.value)">{{col.value}}</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="full-box flex-column-center" *ngIf="step === 5">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <div class="full-box flex-column-space-between" *ngIf="step === 6">

        <div class="h-100 flex-column-center uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/trailmaking/3.png" alt="Trailmaking instructions">
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startActual()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box flex-column-center" *ngIf="step === 7">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <div class="full-box flex-column-center" *ngIf="step === 8">
        <div align="center">
            <table>
                <tr *ngFor="let row of gridConfig.grid">
                    <td *ngFor="let col of row">
                        <button *ngIf="col.value" class="fab" [style.background-color]="getColor(col.value)" #myButton mat-fab (click)="registerClick(myButton, col.value)">{{col.value}}</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="full-box flex-column-center" *ngIf="step === 9">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <div class="full-box flex-column-space-between" *ngIf="step === 10">

        <div class="h-100 flex-column-center uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/trailmaking/4.png" alt="Trailmaking instructions">
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box flex-column-space-between" *ngIf="step === 11">

        <div class="h-100 flex-column-center uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/trailmaking/5.png" alt="Trailmaking instructions">
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startPractice()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box flex-column-center" *ngIf="step === 12">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <div class="full-box flex-column-center" *ngIf="step === 13">

        <div align="center">
            <table>
                <tr *ngFor="let row of gridConfig.grid">
                    <td *ngFor="let col of row">
                        <button *ngIf="col.value" class="fab" [style.background-color]="getColor(col.value)" #myButton mat-fab (click)="registerClick(myButton, col.value)">{{col.value}}</button>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <div class="full-box flex-column-center" *ngIf="step === 14">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <div class="full-box flex-column-space-between" *ngIf="step === 15">

        <div class="h-100 flex-column-center uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/trailmaking/6.png" alt="Trailmaking instructions">
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startActual()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box flex-column-center" *ngIf="step === 16">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <div class="full-box flex-column-center" *ngIf="step === 17">
        <div align="center">
            <table>
                <tr *ngFor="let row of gridConfig.grid">
                    <td *ngFor="let col of row">
                        <button *ngIf="col.value" class="fab" [style.background-color]="getColor(col.value)" #myButton mat-fab (click)="registerClick(myButton, col.value)">{{col.value}}</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="full-box flex-column-center" *ngIf="step === 18">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <div class="full-box flex-column-space-between" *ngIf="step === 19">

        <div class="h-100 flex-column-center uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/trailmaking/7.png" alt="Trailmaking instructions">
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="continueAhead()">
                        CONTINUE
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div> -->
</div>
