<div class="container-fluid wrapper task-text flex-column-center">
    <div *ngIf="showStimulus" class="full-box flex-column-center">
        <div align="center">
            <table>
                <tr *ngFor="let gridRow of this.currentStimulus.grid">
                    <td *ngFor="let button of gridRow">
                        <button
                            *ngIf="button.value"
                            class="fab"
                            [style.background-color]="getColor(button.value)"
                            #myButton
                            mat-fab
                            (click)="handleRoundInteraction({ button: myButton, value: button.value })"
                        >
                            {{ button.value }}
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
