<div class="container-fluid p-4">
    <div class="d-flex justify-content-between">
        <h2 class="mb-5">Your Guests</h2>
        <div>
            <button class="btn btn-success mt-3" (click)="openCreateGuestModal()">Add new guest</button>
        </div>
    </div>

    <div *ngIf="(guests | async)?.length == 0" style="color: red;">No guests</div>

    <table *ngIf="(guests | async)?.length > 0" mat-table [dataSource]="guests" class="mat-elevation-z3 w-100">

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td class="first-col-width" mat-cell *matCellDef="let guest"> {{guest.email}} </td>
        </ng-container>

        <ng-container matColumnDef="password">
            <th mat-header-cell *matHeaderCellDef> Password </th>
            <td mat-cell *matCellDef="let guest"> guest </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let guest">
                <button (click)="deleteGuest(guest.email)" class="btn btn-danger">Delete</button>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsForGuests"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsForGuests;"></tr>

    </table>
</div>