<div class="container-fluid task-text wrapper flex-column-center">
    <div class="full-box flex-column-space-between">
        <div *ngIf="showStimulus" class="w-100 p-4 uppercase" align="center">
            <h1 style="font-size: 4rem; line-height: normal">
                {{
                    (lastKeyPressed ? 'tasks.finger-tapping.continue-tapping' : 'tasks.finger-tapping.begin-tapping')
                        | translate
                }}
            </h1>
        </div>

        <div class="w-100 p-4 uppercase" align="center">
            <div *ngIf="showFixation">
                <i class="material-icons" style="font-size: 60px">add</i>
            </div>
        </div>

        <div class="w-100 p-4 uppercase" align="center"></div>
    </div>
</div>
