<div class="overflow-scroll">
    <div>
        <h3>Create a new user</h3>
        <hr />
    </div>
    <div>
        <mat-form-field class="w-100">
            <mat-label>User Role</mat-label>
            <mat-select required matInput [(ngModel)]="newUserRole">
                <mat-option value="ORGANIZATION_MEMBER">Organization Member</mat-option>
                <mat-option value="GUEST">Guest</mat-option>
            </mat-select>
            <mat-error *ngIf="newUserRole.length === 0">Role is required</mat-error>
        </mat-form-field>
        <br />
        <ng-container>
            <mat-form-field class="w-100 mt-3">
                <mat-label>Name</mat-label>
                <input
                    required
                    email
                    [(ngModel)]="newUserName"
                    matInput
                    type="text"
                    placeholder="example.guest@gmail.com"
                />
                <mat-error *ngIf="newUserName.length === 0">Name is required</mat-error>
            </mat-form-field>
        </ng-container>
        <br />
        <mat-form-field class="w-100 mb-4">
            <mat-label>User Email</mat-label>
            <input
                required
                email
                [(ngModel)]="newUserEmail"
                matInput
                type="text"
                placeholder="example.guest@gmail.com"
            />
            <mat-error *ngIf="newUserEmail.length === 0">Email is required</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="w-100">
            <mat-label>User Password</mat-label>
            <input type="text" disabled matInput value="password" />
        </mat-form-field>
    </div>

    <div class="d-flex flex-column">
        <button
            (click)="sendDataToParent()"
            mat-raised-button
            color="primary"
            class="w-100 mb-2"
            [disabled]="!isValid()"
        >
            Create
        </button>
        <button mat-dialog-close mat-raised-button color="warn" class="w-100">Close</button>
    </div>
</div>
