<div class="info-display-container" *ngIf="isVisible">
    <app-info-display-viewer [readerMetadata]="metadata.componentConfig"></app-info-display-viewer>

    <div class="button-container">
        <button
            (click)="onButtonClick('home')"
            class="w-25"
            color="secondary"
            mat-raised-button
            [disabled]="wasClicked"
            *ngIf="shouldShowHomeButton"
        >
            Return to Home
        </button>
        <button
            (click)="onButtonClick('continue')"
            class="w-25"
            color="primary"
            mat-raised-button
            [disabled]="wasClicked"
            *ngIf="shouldShowContinueButton"
        >
            Continue
        </button>
    </div>
</div>
