<div style="background-color: white; border-radius: 5px" class="questionnaire-container">
    <div *ngIf="!formSubmitted">
        <div [formGroup]="feedbackQuestionnaire" class="form">
            <div>
                <label class="w-100 font-weight-bold">Did you encounter any issues during our study?</label>
                <mat-form-field class="w-100">
                    <textarea
                        formControlName="issuesEncountered"
                        placeholder="Max 250 characters"
                        class="w-100"
                        matInput
                        rows="3"
                        maxlength="250"
                    ></textarea>
                </mat-form-field>
            </div>
            <br />
            <div>
                <label class="w-100 font-weight-bold">Additional Feedback</label>
                <mat-form-field class="w-100">
                    <textarea
                        formControlName="additionalFeedback"
                        placeholder="Max 250 characters"
                        class="w-100"
                        maxlength="250"
                        matInput
                        rows="3"
                    ></textarea>
                </mat-form-field>
            </div>
            <br />
            <div class="d-flex">
                <div class="d-flex flex-column" style="width: 200px; margin-right: 50px">
                    <label class="w-100 font-weight-bold">Which browser are you using?</label>
                    <mat-form-field>
                        <mat-select formControlName="browser" (selectionChange)="onSelectChange($event)">
                            <mat-option [value]="browser" *ngFor="let browser of browserList">{{ browser }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="showOtherField" class="d-flex flex-column" style="width: 200px">
                    <label class="w-100 font-weight-bold">Other Browser</label>
                    <mat-form-field>
                        <input
                            type="text"
                            [(ngModel)]="otherField"
                            [ngModelOptions]="{ standalone: true }"
                            matInput
                            placeholder='"SeaMonkey"'
                        />
                    </mat-form-field>
                </div>
            </div>
            <br />

            <div class="d-flex justify-content-between">
                <button
                    [disabled]="!feedbackQuestionnaire.valid || !isValid"
                    (click)="submitForm()"
                    mat-raised-button
                    color="primary"
                >
                    Submit Feedback
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="formSubmitted">
        <p class="font-weight-bold" style="margin: 0">Thank you for your feedback!</p>
    </div>
</div>
