<div class="container-fluid task-text wrapper flex-column-center">
    <div class="full-box flex-column-center">
        <div *ngIf="showStimulus" class="w-100 d-flex flex-row align-items-center justify-content-center">
            <!-- manually draw the smiley face using HMTL -->
            <div class="smiley-face">
                <div class="upper-face-container">
                    <div class="left-eye"></div>
                    <div class="right-eye"></div>
                </div>
                <div *ngIf="showMouth" class="lower-face-container">
                    <div class="mouth {{ currentStimulus.faceShown }}"></div>
                </div>
            </div>
        </div>

        <div *ngIf="showFixation">
            <i class="material-icons" style="font-size: 60px">add</i>
        </div>

        <div class="hint" *ngIf="showHint && showStimulus">
            <span class="feedback">{{ hint }}</span>
        </div>

        <div *ngIf="showFeedback" align="center">
            <div class="feedback">
                <span *ngIf="feedback">{{ feedback }}</span>
                <span *ngIf="scoreForSpecificTrial > 0">+{{ scoreForSpecificTrial }}</span>
            </div>
        </div>
    </div>
</div>
