.left-login-screen {
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #3f51b5;
}

.right-login-screen {
    display: flex;
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.welcome-header {
    color: white;
    font-weight: 100;
}

mat-form-field {
    font-size: 2rem;
}