<div class="container-fluid wrapper d-flex flex-column align-items-center justify-content-center">

    <!-- Show welcome message -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="step === 1">

        <!-- Introduction -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/trailmaking/1.png" alt="Trailmaking instructions">
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Show practice round message -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="step === 2">

        <!-- Introduction -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/trailmaking/2.png" alt="Trailmaking instructions">
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startPractice()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="step === 3">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- practice around -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="step === 4">

        <div align="center">
            <table>
                <tr *ngFor="let row of gridConfig.grid">
                    <td *ngFor="let col of row">
                        <button *ngIf="col.value" class="fab" [style.background-color]="getColor(col.value)" #myButton mat-fab (click)="registerClick(myButton, col.value)">{{col.value}}</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Show practice round finished message, intro to actual game -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="step === 5">

        <!-- Intro to actual game -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/trailmaking/3.png" alt="Trailmaking instructions">
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startActual()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="step === 6">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- Actual game part 1 -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="step === 7">
        <div align="center">
            <table>
                <tr *ngFor="let row of gridConfig.grid">
                    <td *ngFor="let col of row">
                        <button *ngIf="col.value" class="fab" [style.background-color]="getColor(col.value)" #myButton mat-fab (click)="registerClick(myButton, col.value)">{{col.value}}</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Trail making task part 2 intro -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="step === 8">

        <!-- Intro to part 2 practice -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/trailmaking/4.png" alt="Trailmaking instructions">
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Start part 2 practice round -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="step === 9">

        <!-- Start part 2 practice -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/trailmaking/5.png" alt="Trailmaking instructions">
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startPractice()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="step === 10">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="step === 11">

        <div align="center">
            <table>
                <tr *ngFor="let row of gridConfig.grid">
                    <td *ngFor="let col of row">
                        <button *ngIf="col.value" class="fab" [style.background-color]="getColor(col.value)" #myButton mat-fab (click)="registerClick(myButton, col.value)">{{col.value}}</button>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <!-- Show practice round finished message -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="step === 12">

        <!-- Start part 2 practice -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/trailmaking/6.png" alt="Trailmaking instructions">
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startActual()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="step === 13">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- Actual game part 2 -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="step === 14">
        <div align="center">
            <table>
                <tr *ngFor="let row of gridConfig.grid">
                    <td *ngFor="let col of row">
                        <button *ngIf="col.value" class="fab" [style.background-color]="getColor(col.value)" #myButton mat-fab (click)="registerClick(myButton, col.value)">{{col.value}}</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Show actual game finished message -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="step === 15">

        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/trailmaking/7.png" alt="Trailmaking instructions">
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="continueAhead()">
                        CONTINUE
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>