<!-- Navigation buttons -->
<div class="w-100 button-padding uppercase">
    <div class="d-flex flex-row-space-between">
        <div>
            <button mat-raised-button color="primary" [disabled]="previousDisabled" (click)="handlePrevious()">
                <mat-icon>arrow_backward</mat-icon>
                &nbsp; {{ backButtonText }}
            </button>
        </div>
        <div>
            <button
                [class.error-text]="warn"
                mat-raised-button
                color="primary"
                [disabled]="disableNext"
                (click)="handleNext()"
            >
                {{ forwardButtonText }}
                &nbsp;
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </div>
</div>
