.button-container {
    padding: 0% 4% 2% 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: sticky;
    bottom: 0.5rem;
}

.button {
    white-space: normal;
    line-height: inherit;
    padding: 16px 0;
}

.sub-text {
    font-size: 1.25rem;
    color: #3f51b5;
    line-height: normal;
}
