<div class="container-fluid task-text wrapper flex-column-center">

    <!-- Show welcome message -->
    <div class="full-box flex-column-center" *ngIf="!isBreak && step === 1">

        <!-- Introduction -->
        <div class="instructions h-100 flex-column-center">
            <div class="uppercase bold mb-5">Welcome to finger tapping task</div>
            <div class="underline uppercase mb-5">read the instructions carefully</div>
            <div class="mb-5">This is a test of finger tapping speed</div>
            <div class="bold uppercase mt-5">Click 'next' to proceed</div>
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Left or right question -->
    <div class="full-box flex-column-center" *ngIf="!isBreak && step === 2">

        <div class="h-100 p-5 uppercase instructions text-center">

            <div class="bold uppercase">Are you left handed or right handed?</div>

            <div class="button-container">
                <button class="option-button" (click)="handleLeftOrRightHanded('LEFT')" mat-raised-button color="primary">Left Handed</button>
                <button class="option-button" (click)="handleLeftOrRightHanded('RIGHT')" mat-raised-button color="accent">Right Handed</button>
            </div>
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- instructions -->
    <div class="full-box flex-column-center" *ngIf="!isBreak && step === 3">

        <div class="instructions h-100 flex-column-center">
            <div>Using your <span class="bold">index finger:</span></div>
            <div class="mb-5">You will have to <b>alternately</b> tap the <b>P</b> and <b>Q</b> keys of the keyboard <b>as fast as you can</b>.</div>
            <div>You will do 3 rounds of this</div>
            <div class="mb-5">Just before you start, we will tell you which hand to use.</div>
            <div class="mt-5 uppercase bold">Click 'next' to proceed</div>
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- instructions -->
    <div class="full-box flex-column-center" *ngIf="!isBreak && step === 4">

        <div class="instructions uppercase h-100 flex-column-center">
            <div>The keys you will be tapping on the keyboard</div>
            <div class="mb-5">are the <b>'Q'</b> and the <b>'P'</b> keys</div>
            <div class="mb-5">Please go ahead and find these keys now.</div>
            <div class="mt-5 bold">Click 'NEXT' to proceed</div>
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- practice round message -->
    <div class="full-box flex-column-center" *ngIf="!isBreak && step === 5">

        <div class="instructions h-100 flex-column-center">
            <div class="underline uppercase mb-5">Practice round</div>
            <div>First, let's practice.</div>
            <div class="mb-5">For the practice, please use your <b>RIGHT</b> hand</div>
            <div class="mb-5">(The task will launch in fullscreen)</div>
            <div class="mt-5 uppercase bold">Click 'start' when you are reaqdy for the practice round</div>
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startPractice()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- countdown timer display, automatically goes to next step -->
    <div class="full-box flex-column-center" *ngIf="!isBreak && (step === 6 || step === 11 || step === 15 || step === 19)">

        <div>
            <div class="statement text-center">
                <div class="mb-3">
                    <span *ngIf="block + 1 < 3" style="color: red;" class="bold">You must use ONLY the INDEX finger of a SINGLE hand</span>
                    <span *ngIf="block + 1 >= 3" style="color: red;" class="bold">You must use BOTH your index fingers: one on the 'Q' and one on the 'P'</span>
                </div>
                <br>
                <!-- renders weird in safari, need to set innerText property instead of string interpolation -->
                <span style="font-size: 60px;" class="bold" [innerText]="countDownDisplayValue"></span>
            </div>
        </div>

    </div>

    <!-- practice round and main rounds -->
    <div class="full-box flex-column-space-between" *ngIf="!isBreak && (step === 7 || step === 12 || step === 16 || step === 20)">

        <div class="w-100 p-4 uppercase" align="center">
            <h2>Begin Tapping</h2>
        </div>

        <div class="w-100 p-4 uppercase" align="center">
            <div *ngIf="showFixation">
                <i class="material-icons" style="font-size: 60px;">add</i>
            </div>
        </div>

        <div class="w-100 p-4 uppercase" align="center">
        </div>

    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column-center" *ngIf="!isBreak && (step === 8 || step === 13 || step === 17 || step === 21)">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- main round message -->
    <div class="full-box flex-column-center" *ngIf="!isBreak && step === 9">

        <div class="instructions h-100 flex-column-center">
            <div class="mb-3 underline uppercase">main round</div>
            <div class="mb-3">Good job! Now you will complete the main test</div>
            <div class="mb-3">You will be doing 3 rounds</div>
            <div class="mb-3">In the first two rounds, you have to keep tapping as <b>fast as you can</b> with a SINGLE index finger for 1 full minute</div>
            <div class="mb-3">In the third round, you have to keep tapping <b>as fast as you can</b> with BOTH index fingers for 20 seconds</div>
            <div class="mb-3">You'll get a break between each round and we will tell you which hand to use before you begin</div>
            <div class="bold uppercase">Click 'next' to continue</div>
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- round 1 message -->
    <div class="full-box flex-column-space-between" *ngIf="!isBreak && step === 10">

        <div class="instructions h-100 flex-column-center">
            <div class="underline uppercase mb-5">1st Round</div>
            <div class="uppercase">Please use your <span style="color: red;">DOMINANT HAND</span> for this round</div>
            <div class="mb-5">(so if you are right-handed, that is your right hand)</div>
            <div class="uppercase">remember:</div>
            <div class="uppercase">Tap the 'P' and the 'Q' keys as fast as you can</div>
            <div class="uppercase mb-5">With your <b>dominant hand index finger</b></div>
            <div class="uppercase mb-5">The game will launch in fullscreen</div>
            <div class="uppercase bold">Click 'start' when you are ready</div>
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startActual()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- break view -->
    <div class="full-box flex-column-space-between" *ngIf="isBreak && (step === 14 || step === 18)">

        <div class="h-100 instructions flex-column-center">
            <div class="uppercase mb-5" [ngClass]="resumeDisabled ? 'not-ready' : 'ready'">
                IT'S BREAK TIME: {{time}} SECONDS
            </div>

            <ng-container [ngSwitch]="block + 1">
                <ng-container *ngSwitchCase="2">
                    <ng-container *ngTemplateOutlet="nonDominantHand"></ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="3">
                    <ng-container *ngTemplateOutlet="bothHands"></ng-container>
                </ng-container>
            </ng-container>
 
            <div class="mb-3">
                You have to wait for at least <b>{{durationUntilCanContinue}}</b> seconds before being able to continue.
            </div>
        
            <div class="mb-3">
                The next round will automatically start in 2 minutes unless you choose to continue sooner.
            </div>

            <div *ngIf="!resumeDisabled" class="bold uppercase">Click 'start' when you are ready</div>
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" [disabled]="resumeDisabled" (click)="stopBreakTimer()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="full-box flex-column-space-between" *ngIf="!isBreak && step === 22">

        <div class="instructions uppercase h-100 flex-column-center">
            <div class="bold mb-5">Game has finished</div>
            <div class="mb-5">congratulations! you have finished the game successfully</div>
            <div class="mb-5">thank you for your participation</div>
            <div class="mb-5 bold">click 'continue'</div>
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="continueAhead()">
                        CONTINUE
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #nonDominantHand>
    <div class="mb-3">
        <span style="text-decoration: underline;">ROUND 2</span>: Please use your <span style="color: red;">NON DOMINANT</span> hand for this round.
    </div>
    <div class="mb-3">(so if you are right-handed, that is your left hand)</div>

    <div class="mb-5">Remember: Tap the 'P' and the 'Q' keys as fast as you can.</div>
</ng-template>
<ng-template #bothHands>
    <div class="mb-3">
        <span style="text-decoration: underline;">ROUND 3</span>: Please use <span style="color: red;">BOTH INDEX FINGERS</span> for this round.
    </div>
    <div class="mb-3">This means you must use your LEFT finger to tap 'Q' and your RIGHT finger to tap 'P'</div>
    <div class="mb-5">And remember, as before, your goal is to alternate between tapping the 'P' and the 'Q' keys as fast as you can!</div>
</ng-template>