<div class="container-fluid wrapper d-flex flex-column align-items-center justify-content-center">

    <!-- Show welcome message -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 1">

        <!-- Introduction -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/fingertapping/1.png" alt="Finger Tapping instructions">
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 2">

        <div class="w-100 h-100 p-4 uppercase instructions" align="center">

            <div class="statement">
                <b>Are you left handed or right handed?</b>
            </div>

            <div class="button-container">
                <button class="option-button" (click)="handleLeftOrRightHanded('LEFT')" mat-raised-button color="primary">Left Handed</button>
                <button class="option-button" (click)="handleLeftOrRightHanded('RIGHT')" mat-raised-button color="accent">Right Handed</button>
            </div>
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 3">

        <!-- Instructions -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/fingertapping/2.png" alt="Finger Tapping instructions">
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 4">

        <!-- Instructions -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/fingertapping/3.png" alt="Finger Tapping instructions">
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- practice round message -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 5">

        <!-- Instructions -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/fingertapping/4.png" alt="Finger Tapping instructions">
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startPractice()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- countdown timer display, automatically goes to next step -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center"
        *ngIf="!isBreak && (step === 6 || step === 11 || step === 15 || step === 19 || step === 23 || step === 27 || step === 31)">

        <div>
            <div class="statement text-center">
                <div class="mb-3">
                    <span style="color: red;">You must use ONLY the INDEX finger of a SINGLE hand</span>
                </div>
                <br>
                <!-- renders weird in safari, need to set innerText property instead of string interpolation -->
                <span style="font-size: 60px;" [innerText]="countDownDisplayValue"></span>
            </div>
        </div>

    </div>

    <!-- practice round and main rounds -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between"
        *ngIf="!isBreak && (step === 7 || step === 12 || step === 16 || step === 20 || step === 24 || step === 28 || step === 32)">

        <div class="w-100 p-4 uppercase" align="center">
            <h2>Begin Tapping</h2>
        </div>

        <div class="w-100 p-4 uppercase" align="center">
            <div *ngIf="showFixation">
                <i class="material-icons" style="font-size: 60px;">add</i>
            </div>
        </div>

        <div class="w-100 p-4 uppercase" align="center">
        </div>

    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" 
        *ngIf="!isBreak && (step === 8 || step === 13 || step === 17 || step === 21 || step === 25 || step === 29 || step === 33)">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- main round message -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 9">

        <!-- Instructions -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/fingertapping/5.png" alt="Finger Tapping instructions">
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- round 1 message -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 10">

        <!-- Instructions -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/fingertapping/6.png" alt="Finger Tapping instructions">
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startActual()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- break view -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between"
        *ngIf="isBreak && (step === 14 || step === 18 || step === 22 || step === 26 || step === 30)">

        <div class="w-100 p-4 uppercase instructions" align="center">
            <div class="statement font-weight-bold" [ngClass]="resumeDisabled ? 'not-ready' : 'ready'">
                IT'S BREAK TIME: {{time}} SECONDS
            </div>
    
            <div class="statement">
                <span style="text-decoration: underline;">ROUND {{block + 1}}</span>: Please use your <span style="color: red;">{{ ((block + 1) % 2 == 0) ? 'NON DOMINANT' : 'DOMINANT' }}</span> hand for this round.
                {{ ((block + 1) % 2 == 0) ? '(so if you are right-handed, that is your left hand)' : '(so if you are right-handed, that is your right hand)' }}
            </div>

            <div class="statement">
                Remember: Tap the 'P' and the 'Q' keys as fast as you can.
            </div>
    
            <div class="statement">
                You have to wait for at least {{durationUntilCanContinue}} seconds before being able to continue.
            </div>
    
            <div class="statement">
                The next round will automatically start in 2 minutes unless you choose to continue sooner.
            </div>
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" [disabled]="resumeDisabled" (click)="stopBreakTimer()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 39">
        <!-- Heading -->
        <div class="w-100 p-4 uppercase" align="center">
            <h2>Game has finished</h2>
        </div>

        <!-- Introduction -->
        <div class="w-100 p-4 uppercase" align="center">

            <div class="statement">
                <h4>Congratulations ! You have finished the game successfully</h4>
            </div>

            <br>

            <div class="statement">
                Thank you for your participation
            </div>

            <div class="statement-final">
                Click 'CONTINUE'
            </div>

        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="continueAhead()">
                        CONTINUE
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>