<div class="container-fluid wrapper task-text flex-column-center">
    <div *ngIf="!isLoading" class="full-box flex-column-center">
        <div *ngIf="isPractice" class="flex-column-center">
            <div class="tutorial-message">{{ tutorialKeyMessage }}</div>
            <div>
                <img class="legend" src="/assets/images/stimuli/sdmt/legend.png" alt="legend" />
            </div>
            <div class="tutorial-message" [innerHTML]="tutorialInstructionsMessage"></div>
        </div>
        <div *ngIf="!isPractice">
            <span>is not practice</span>
        </div>
        <div *ngFor="let row of stimuli">
            <div style="display: flex; border-left: 4px solid black; border-right: 4px solid black">
                <div *ngFor="let stimulus of row" class="stimulus-border">
                    <div class="stimulus">
                        <img style="width: 100%; height: 100%" src="{{ stimulus.imageURL }}" />
                    </div>
                    <div class="stimulus" style="border-top: 2px solid black"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="full-box flex-column-center">
        <div *ngIf="showStimulus">
            <div [style.color]="color">
                <div style="font-size: 65px; text-transform: uppercase">
                    {{ getTranslationMapping(text) }}
                </div>
            </div>
        </div>

        <div *ngIf="showFixation">
            <i class="material-icons" style="font-size: 60px">add</i>
        </div>

        <div class="feedback" *ngIf="showFeedback" align="center">
            <span>{{ feedback | translate }}</span>
            <br />
            <span *ngIf="showScoreAfterEachTrial && scoreForSpecificTrial > 0"> +{{ scoreForSpecificTrial }} </span>
        </div>
        <app-skip-button [isVisible]="true" (shouldSkip)="handleSkip()"></app-skip-button>
    </div> -->
</div>
