@import '../../../../sass/mixins';

.tutorial-message {
    width: 80%;
    margin-bottom: 1rem;
}

.legend {
    margin-bottom: 1rem;
}

.stimulus {
    font-weight: bold;
}

@include for-small-device-only {
    .tutorial-header {
        font-size: 1.2rem;
    }

    .legend {
        width: 400px;
    }

    .tutorial-message {
        font-size: 16px;
    }

    .stimulus {
        width: 30px;
        height: 30px;
    }

    .stimulus-answer {
        font-size: 30px;
    }

    .stimulus-border {
        border: 3px solid black;
    }

    .selected {
        border: 3px solid red;
    }
}

@include for-small-desktop-only {
    .tutorial-header {
        font-size: 1.4rem;
    }

    .legend {
        width: 600px;
    }

    .tutorial-message {
        font-size: 20px;
    }

    .stimulus {
        width: 45px;
        height: 45px;
    }

    .stimulus-answer {
        font-size: 45px;
    }

    .stimulus-border {
        border: 3px solid black;
    }

    .selected {
        border: 3px solid red;
    }
}

@include for-desktop-up {
    .tutorial-header {
        font-size: 1.8rem;
    }

    .legend {
        width: 700px;
    }

    .tutorial-message {
        font-size: 24px;
    }

    .stimulus {
        width: 65px;
        height: 65px;
    }

    .stimulus-answer {
        font-size: 58px;
    }

    .stimulus-border {
        border: 3px solid black;
    }

    .selected {
        border: 3px solid red;
    }
}

@include for-large-desktop-up {
    .tutorial-header {
        font-size: 2rem;
    }

    .legend {
        width: 900px;
    }

    .tutorial-message {
        font-size: 28px;
    }

    .stimulus {
        width: 90px;
        height: 90px;
    }

    .stimulus-answer {
        font-size: 60px;
    }

    .stimulus-border {
        border: 4px solid black;
    }

    .selected {
        border: 4px solid red;
    }
}
