.participant-study {
    background: white;
    border: 2px solid lightgray;
    margin-bottom: 2%;
    padding: 20px 40px;
    border-radius: 8px;

    &.complete {
        border: 5px solid green;
    }

    .button-container {
        display: flex;
        justify-content: space-around;
    }
}

.error-text {
    color: red;
}

.study-complete {
    background: #a8eaa4;
}

.temp-intro {
    font-size: 1.5rem;
    line-height: normal;
}

.progress-label {
    font-size: 1rem;
    font-weight: bold;
}

.progress-bar-section {
    margin-bottom: 2rem;

    .progress-status-container {
        display: flex;
        height: 2rem;
        margin-bottom: 1.5rem;

        .progress-status {
            font-weight: bold;
            margin: auto 0;
        }

        .progress-icon {
            font-size: 2rem;
            width: 2rem;
            height: 2rem;
            margin-left: 0.5rem;
        }
    }
}

.incomplete {
    color: gray;
}

.complete {
    color: green;
}
