<div>
    <div class="mb-4 temp-intro" style="color: #3f51b5">
        <span><b>Welcome!</b></span>
        <br />
        <br />
        <span>
            <b>
                You will be playing a series of brain games to help us better understand the thinking and memory changes
                experienced by people with Parkinson’s disease.
            </b>
        </span>
        <br />
        <span>
            <b> Time to complete the games is about 1.5 hours. </b>
        </span>
        <br />
        <br />
        <span>
            <b>
                You can do this all in one sitting or leave (by closing the window) and come back another day. Please
                aim to do all the games over the course of one week. The bar below will show your progress.
            </b>
        </span>
        <br />
        <span>
            <b>
                You can take breaks, but try to take them only BETWEEN games. You must first read the consent form by
                clicking the button below.
            </b>
        </span>
        <br />
        <br />
        <span style="color: red">
            <b>
                Once you finish a game, please make sure to click "NEXT" until you reach the
                <span style="text-decoration: underline"> start of the next game </span>. If you do not do this, you
                will have to restart the task.
            </b>
        </span>
    </div>
    <h2 class="mb-3">Your Studies</h2>

    <div>
        <div
            *ngFor="let studyUser of studyUsers | async"
            class="participant-study mat-elevation-z3 {{ studyIsDone(studyUser) ? 'study-complete' : '' }}"
        >
            <h1>
                <b>{{ studyUser.study.externalName }}</b>
            </h1>

            <section>
                <div class="progress-bar-container my-3">
                    <label>Progress:</label>
                    <mat-progress-bar [value]="getProgress(studyUser)"></mat-progress-bar>
                    <span *ngIf="!studyUser.hasAcceptedConsent" class="error-text mt-3 d-block"
                        >You must read and accept the consent form below before starting the study</span
                    >
                </div>
            </section>

            <div class="button-container">
                <button (click)="openConsentDialog(studyUser)" class="w-25" mat-raised-button color="accent">
                    View Consent
                </button>
                <button
                    (click)="startOrContinueStudy(studyUser)"
                    [disabled]="!studyUser.hasAcceptedConsent || studyIsDone(studyUser) || !studyUser.study.started"
                    class="w-25"
                    mat-raised-button
                    color="primary"
                >
                    {{ getButtonText(studyUser) }}
                </button>
            </div>
        </div>
    </div>
</div>
