<div>
    <div class="mb-4">
        <h1 class="study-id-display">User ID: {{ userId }}</h1>
    </div>
    <div class="mb-4 intro">
        <p>{{ 'participant-studies-page.greeting' | translate }}!</p>

        <p>{{ 'participant-studies-page.introduction' | translate }}</p>

        <p>{{ 'participant-studies-page.descriptor' | translate }}</p>

        <p>{{ 'participant-studies-page.instruction' | translate }}</p>

        <p>{{ 'participant-studies-page.progress-descriptor' | translate }}</p>

        <p class="error-text">{{ 'participant-studies-page.warning' | translate }}</p>

        <p class="error-text">
            {{ 'participant-studies-page.contact-us-message' | translate }}
            <b style="color: #3f51b5; text-decoration: underline">sharplab.neuro@mcgill.ca</b>
        </p>
        <hr />
    </div>

    <h1 class="font-weight-bold">{{ 'participant-studies-page.title' | translate }}</h1>

    <div>
        <ng-container *ngFor="let studyUser of studyUsers">
            <app-participant-study [studyUser]="studyUser"></app-participant-study>
        </ng-container>
    </div>
</div>

<ng-template #mobileDialog>
    <div mat-dialog-title>
        <h2 style="margin-bottom: 0px">Mobile device or tablet detected</h2>
        <h2 style="margin-bottom: 0px">Détecté un appareil mobile ou une tablette</h2>
    </div>
    <mat-dialog-content>
        <p style="font-size: 1rem">
            We have detected that you are using a phone or tablet. Please use a desktop computer or laptop to access the
            platform.
        </p>
        <p style="font-size: 1rem">
            Nous avons détecté que vous utilisez un téléphone ou une tablette. Veuillez utiliser un ordinateur de bureau
            ou un laptop pour accéder à la plateforme.
        </p>
    </mat-dialog-content>
</ng-template>
