<div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <div class="text-container">
        <mat-card>
            <h1 class="font-weight-bold" style="color: #3f51b5; margin-bottom: 0px">Forbidden | Interdit</h1>
            <div class="my-4">
                <span style="font-size: 1rem; color: gray"
                    >You are not allowed to access this page. You may not have the necessary permissions to do so.</span
                >
                <br />
                <span style="font-size: 1rem; color: gray"
                    >Vous n'êtes pas autorisé à accéder à cette page. Vous n'avez peut-être pas les permissions
                    nécessaires pour le faire.</span
                >
            </div>

            <div class="button-container d-flex justify-content-between">
                <button (click)="routeToLogin()" style="width: 45%" color="primary" mat-raised-button>
                    Login / Connexion
                </button>
                <button (click)="routeToRegister()" style="width: 45%" color="secondary" mat-raised-button>
                    Register / Enregistrez-vous
                </button>
            </div>
        </mat-card>
    </div>
</div>

<div class="vector" style="background: linear-gradient(145deg, #3f51b5, #3f51b5)"></div>
