@import "/src/app/sass/mixins";

.activity-container {
    width: 80% !important;
    height: 30% !important;

    .activity {
        width: 400px !important;
        line-height: normal !important;
    }
}
