<div>
    <h2 class="mat-h2" style="color: gray; margin: 0">Which language would you like to use?</h2>
    <h2 class="mat-h2" style="color: gray; margin: 0">Quelle langue souhaitez-vous vous utiliser?</h2>
    <h2 class="mat-h2" style="color: gray">Welke taal wilt u gebruiken?</h2>
    <div class="flex-row-space-around">
        <button class="w-25" mat-raised-button color="primary" (click)="onEmitLanguage(SupportedLangs.EN)">
            English
        </button>
        <button class="w-25" mat-raised-button color="accent" (click)="onEmitLanguage(SupportedLangs.FR)">
            Français
        </button>
        <button class="w-25" mat-raised-button (click)="onEmitLanguage(SupportedLangs.NL)">Nederlands</button>
    </div>
</div>
