<div *ngIf="metaData" class="container-fluid scrollable p-5">

    <div class="image">
        <img [src]="metaData?.img" alt="Organizations">
    </div>

    <div class="title my-4">
        <h2 class="mat-h2">
            <b>{{ metaData?.title }}</b>
        </h2>
    </div>

    <div class="summary">
        <ng-container *ngFor="let block of metaData?.summary">
            <p>
                <b>{{block.caption}}&nbsp;</b>
                <span class="my-1" *ngFor="let wordBlock of block.words">{{wordBlock}}</span>
            </p>
        </ng-container>
    </div>

    <div class="secondTitle">
        <p>
            <b>{{metaData?.secondTitle}}</b>
        </p>
    </div>

    <div class="body">
        <div class="my-4" *ngFor="let block of metaData?.body">
            <h4><b>{{block.caption}}</b></h4>
            <ng-container *ngFor="let wordblock of block.words">
                <p class="my-1" [innerHTML]="wordblock"></p>
            </ng-container>
        </div>
    </div>

    <div class="endMessage my-4">
        <span>{{metaData?.endMessage}}</span>
    </div>

    <div align="center" class="bottom-button-bar">
        <div class="d-flex flex-row align-items-center justify-content-around">
            <div class="m-2" *ngIf="metaData?.buttons.reject.show">
                <button mat-raised-button color="warn" (click)="consent(false)">
                    {{ metaData?.buttons.reject.text ? metaData?.buttons.reject.text : "DECLINE" }}
                    &nbsp;
                    <mat-icon>
                        clear
                    </mat-icon>
                </button>
            </div>
            <div class="m-2" *ngIf="metaData?.buttons.accept.show">
                <button mat-raised-button color="primary" (click)="consent(true)">
                    {{ metaData?.buttons.accept.text ? metaData?.buttons.accept.text : "ACCEPT" }}
                    &nbsp;
                    <mat-icon>
                        check
                    </mat-icon>
                </button>
            </div>
        </div>
    </div>

</div>