.loader-container {
    width: 125px;
    height: 125px;
    display: flex;
    align-items: center;
    background-color: #0000ff7a;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1001;
    transform: translate(-50%, -50%);
    .loader {
        width: 100px;
        height: 100px;
        animation: loadingImage 1s infinite cubic-bezier(0.45, 0.84, 0.67, 0.32);
    }

    @-webkit-keyframes loadingImage {
    }

    @keyframes loadingImage {
        from {
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(360deg);
        }
    }
}
