<div class="container-fluid wrapper task-text flex-column-center">
    <div *ngIf="!!taskData" class="full-box flex-column-center">
        <div style="height: 50%; width: 100%" class="flex-column">
            <div style="display: flex; text-align: start">
                <h1 style="font-size: 48px; padding-top: 20px; padding-left: 20px">
                    {{ getTranslation('yourMoneyText') }}: {{ totalMoney }}
                </h1>
            </div>
            <div *ngIf="showFeedback" style="display: flex; flex-grow: 1; align-items: center">
                <div style="width: 50%; display: flex; justify-content: center">
                    <div *ngIf="moneyWon !== 0" class="face-container win">
                        <h1>{{ getTranslation('youWinText') }} {{ moneyWon }}</h1>
                        <mat-icon class="face">sentiment_very_satisfied</mat-icon>
                    </div>
                </div>
                <div style="width: 50%; display: flex; justify-content: center">
                    <div *ngIf="feePaid !== 0" class="face-container lose">
                        <h1>
                            {{ getTranslation('feeFirstText') }} {{ feePaid }} {{ getTranslation('feeSecondText') }}
                        </h1>
                        <mat-icon class="face">sentiment_very_dissatisfieds</mat-icon>
                    </div>
                </div>
            </div>
        </div>

        <div style="height: 50%; width: 100%">
            <div style="height: 100%" class="flex-column-center">
                <div>
                    <div color="primary" class="button">1</div>
                    <div color="primary" class="button">2</div>
                    <div color="primary" class="button">3</div>
                    <div color="primary" class="button">4</div>
                </div>
                <h1 *ngIf="!showFeedback" style="padding-top: 50px; font-size: 2rem">
                    {{ getTranslation('chooseButtonText') }}
                </h1>
                <div *ngIf="showFeedback" style="background-color: #3f51b5; width: 100%; margin-top: 2rem">
                    <h1 class="flex-column-center" style="padding-top: 1rem; font-size: 2rem; color: white">
                        {{ getTranslation('pressSpacebarText') }}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
