@import "/src/app/sass/mixins";

.activity-container {
    width: 80%;
    height: 12%;
    text-align: center;

    .activity {
        font-weight: bold;
    }
}

.button-container {
    width: 100%;
}

.question-container {
    width: 80%;
    height: 30%;
    text-align: center;

    .question {
        line-height: normal;
        color: gray;
    }
}

.slider-container {
    height: 200px;
}

.stimulus-top {
    height: 50%;
    align-items: center;
}

.stimulus-middle {
    height: 50%;
    align-items: center;
}

@include for-small-device-only {
    .slider-container {
        width: 400px;
    }

    .activity,
    .question {
        font-size: 1.5rem;
    }
}

@include for-small-desktop-only {
    .slider-container {
        width: 700px;
    }

    .activity,
    .question {
        font-size: 2rem;
    }
}

@include for-desktop-up {
    .slider-container {
        width: 800px;
    }

    .activity,
    .question {
        font-size: 2.5rem;
    }
}

@include for-large-desktop-up {
    .slider-container {
        width: 1000px;
    }

    .activity,
    .question {
        font-size: 3rem;
    }
}
