<div class="info-display-container">
    <app-info-display-viewer [readerMetadata]="readerMetadata.metadata"></app-info-display-viewer>

    <div class="button-container">
        <button
            (click)="onSubmit('home')"
            class="w-25"
            color="secondary"
            mat-raised-button
            *ngIf="shouldShowHomeButton"
        >
            Return to Home
        </button>
        <button
            (click)="onSubmit('continue')"
            class="w-25"
            color="primary"
            mat-raised-button
            *ngIf="shouldShowContinueButton"
        >
            Continue
        </button>
    </div>
</div>
