<div class="p-3" class="overflow-scroll">
    <div>
        <h3>Create a new guest</h3>
        <hr>
    </div>
    <div>
        <mat-form-field class="w-100">
            <mat-label>Guest Email</mat-label>
            <input required email [(ngModel)]="newUserEmail" matInput type="text" placeholder="example.guest@gmail.com">
            <mat-error *ngIf="newUserEmail.length === 0">This email is required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Guest Password</mat-label>
            <input type="text" disabled matInput value="guest">
        </mat-form-field>
    </div>

    <div class="d-flex flex-column">
        <button (click)="sendDataToParent()" class="btn btn-primary w-100 mb-2" [disabled]="!isValid()">Create</button>
        <button mat-dialog-close class="btn btn-danger w-100">Close</button>
    </div>
</div>