<div class="card-padding">
    <div>
        <h1 style="color: #3f51b5">Reset your password</h1>
        <span
            >Enter your email address, the temporary password from the email we sent you, and your new password
            below</span
        >
    </div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <mat-form-field appearance="outline" class="mt-3 w-100" floatLabel="always">
                <mat-label>EMAIL</mat-label>
                <input matInput formControlName="email" type="email" placeholder="example@domain.com" email required />
                <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('required')">This is required</mat-error>
                <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('email')"
                    >This must be a valid email</mat-error
                >
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100" floatLabel="always">
                <mat-label>TEMPORARY PASSWORD</mat-label>
                <input
                    type="text"
                    formControlName="temporaryPassword"
                    #password
                    type="password"
                    matInput
                    required
                    placeholder="my-strong-password"
                />
                <mat-error *ngIf="resetPasswordForm.get('temporaryPassword')?.hasError('required')"
                    >This is required</mat-error
                >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="w-100" floatLabel="always">
                <mat-label>NEW PASSWORD</mat-label>
                <mat-icon style="cursor: pointer" (click)="togglePasswordVisibility()" matSuffix>{{
                    passwordIsVisible ? 'visibility' : 'visibility_off'
                }}</mat-icon>
                <input
                    [type]="passwordIsVisible ? 'text' : 'password'"
                    formControlName="password"
                    #password
                    matInput
                    required
                    placeholder="my-strong-password"
                />
                <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('required')">This is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="py-1 w-100" floatLabel="always">
                <mat-label>CONFIRM NEW PASSWORD</mat-label>
                <mat-icon style="cursor: pointer" (click)="togglePasswordVisibility()" matSuffix>{{
                    passwordIsVisible ? 'visibility' : 'visibility_off'
                }}</mat-icon>
                <input
                    [type]="passwordIsVisible ? 'text' : 'password'"
                    formControlName="confirmPassword"
                    #password
                    matInput
                    required
                    placeholder="my-strong-password"
                />
                <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')"
                    >This is required</mat-error
                >
                <mat-error *ngIf="resetPasswordForm.hasError('passwordMatch')">Passwords must match</mat-error>
            </mat-form-field>
        </div>

        <button
            type="submit"
            class="btn-block py-2"
            mat-raised-button
            color="primary"
            [disabled]="resetPasswordForm.invalid"
            required
        >
            RESET
        </button>
    </form>
</div>
