<div class="card-padding">
    <div class="text-center">
        <h1 style="color: #3f51b5">Reset your password</h1>
        <span>Enter your email, the temporary password you received, and your new password below</span>
    </div>
    <br />
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="py-1 w-100" floatLabel="always">
            <mat-label>EMAIL</mat-label>
            <mat-icon matSuffix>email</mat-icon>
            <input matInput formControlName="email" type="email" placeholder="example@domain.com" email required />
            <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('required')">This is required</mat-error>
            <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('email')">This must be a valid email</mat-error>
        </mat-form-field>
        <mat-form-field class="py-1 w-100" floatLabel="always">
            <mat-label>TEMPORARY PASSWORD</mat-label>
            <mat-icon matSuffix>vpn_key</mat-icon>
            <input
                type="text"
                formControlName="temporaryPassword"
                #password
                type="password"
                matInput
                required
                placeholder="my-strong-password"
            />
            <mat-error *ngIf="resetPasswordForm.get('temporaryPassword')?.hasError('required')"
                >This is required</mat-error
            >
        </mat-form-field>
        <br />
        <br />
        <mat-form-field class="py-1 w-100" floatLabel="always">
            <mat-label>NEW PASSWORD</mat-label>
            <mat-icon matSuffix>vpn_key</mat-icon>
            <input
                type="text"
                formControlName="password"
                #password
                type="password"
                matInput
                required
                placeholder="my-strong-password"
            />
            <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('required')">This is required</mat-error>
        </mat-form-field>
        <mat-form-field class="py-1 w-100" floatLabel="always">
            <mat-label>REPEAT NEW PASSWORD</mat-label>
            <mat-icon matSuffix>vpn_key</mat-icon>
            <input
                type="text"
                formControlName="confirmPassword"
                #password
                type="password"
                matInput
                required
                placeholder="my-strong-password"
            />
            <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')"
                >This is required</mat-error
            >
            <mat-error *ngIf="resetPasswordForm.hasError('passwordMatch')">Passwords must match</mat-error>
        </mat-form-field>
        <button
            type="submit"
            class="btn-block btn-sm rounded-btn"
            mat-raised-button
            color="primary"
            [disabled]="resetPasswordForm.invalid"
            required
        >
            RESET
        </button>
    </form>
</div>
