.sart-font {
    font-family: 'Nunito';
}

.response-cue {
    width: 8rem;
    height: auto;
}

.tasks.feedback.correct {
    color: green !important;
}

.tasks.feedback.incorrect {
    color: red !important;
}
