<div class="container-fluid wrapper task-text flex-column-center">
    <div class="full-box flex-column-center">
        <div *ngIf="showStimulus">
            <div>
                <div class="letter">
                    {{ currentLetter }}
                </div>
            </div>
        </div>

        <div *ngIf="showFixation">
            <i class="material-icons" style="font-size: 60px">add</i>
        </div>

        <div *ngIf="showFeedback">
            <div class="feedback">
                {{ feedback | translate }}
            </div>
        </div>
    </div>
</div>
