.keypadButton {
    border-radius: 5px;
    background: black;
    color: white;
    font-size: 30px;
    margin: 5px;
    width: 100px;
    height: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border: solid thin black;
    cursor: pointer;
    &:hover {
        background: white;
        color: black;
    }
}

.keypad-button-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.skip {
    background-color: #d28800;
    color: white;
    &:hover {
        color: black;
    }
}
