<div class="info-display-container">
    <h1 class="mat-h1 my-3 title-text">
        <b>{{ title }}</b>
        <hr />
    </h1>

    <ng-container *ngFor="let section of sections">
        <div class="my-5">
            <h2 *ngIf="section.header" class="title-text" [innerHTML]="section.header"></h2>
            <p *ngIf="section.textContent" class="sub-text" [innerHTML]="section.textContent"></p>
        </div>
    </ng-container>

    <div class="button-container">
        <button
            (click)="onSubmit('home')"
            class="w-25"
            color="secondary"
            mat-raised-button
            *ngIf="shouldShowHomeButton"
        >
            Return to Home
        </button>
        <button
            (click)="onSubmit('continue')"
            class="w-25"
            color="primary"
            mat-raised-button
            *ngIf="shouldShowContinueButton"
        >
            Continue
        </button>
    </div>
</div>
