.info-display-container {
    padding: 2% 4%;
}

.title-text {
    color: #3f51b5;
}

.sub-text {
    color: #464646;

    &.indent-1 {
        margin-left: 3rem;
    }

    &.indent-2 {
        margin-left: 6rem;
    }

    &.indent-3 {
        margin-left: 9rem;
    }
}
