.link {
    overflow-wrap: break-word;
    color: black;


    &:hover {
        color: blue;
    }
}

.badge {
    font-size: 1rem;
    background-color: gray;
    padding: 10px;
    color: white;
}

.colored-row:nth-child(2n + 1) {
    background-color: #e8e8e896;
}

.delete-button {
    display: block;
    margin-left: auto;
}