<div class="container-fluid p-4">
    <div class="d-flex justify-content-between">
        <h2 class="mb-5">Your Studies</h2>
        <div>
            <button [disabled]="!isAdmin()" (click)="openCreateExperimentDialog()" class="btn btn-success d-flex">Create New Study<mat-icon style="margin-left: 10px">add_box</mat-icon></button>
        </div>
    </div>

    <mat-accordion multi class="align-accordion-headers">
        <mat-expansion-panel *ngFor="let experiment of experiments | async">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span style="font-size: 1rem;">
                        <b>{{experiment.code}}:</b>
                        {{ experiment.name }}
                    </span>
                </mat-panel-title>
                <mat-panel-description><span style="font-size: 1rem;">{{ experiment.description ? experiment.description : 'No description' }}</span></mat-panel-description>
                <mat-panel-description>
                    <span   #tooltip="matTooltip" 
                            matTooltip="Copy to clipboard" 
                            (click)="showCopiedMessage()"
                            (click)="$event.stopPropagation()"
                            [cdkCopyToClipboard]="LINK + experiment.code" 
                            class="link">
                            {{ LINK }}{{ experiment.code }}
                    </span>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div>
                <mat-divider class="pb-3"></mat-divider>
                <span class="badge">Tasks</span>
                <div>
                    <mat-list role="list">
                        <ng-container *ngFor="let task of taskToTitle(experiment.tasks, experiment.questionnaires)">
                            <mat-list-item class="colored-row" role="listitem">{{ task }}</mat-list-item>
                        </ng-container>
                    </mat-list>
                </div>
                <button [disabled]="!isAdmin()" (click)="onDelete(experiment.code)" class="btn btn-danger mt-3 delete-button">Delete Study</button>
            </div>

        </mat-expansion-panel>
    </mat-accordion>
</div>