<div class="questionnaire-container">

    <h2 class="mat-h2 my-3" align="center">
        <b>Everyday Choice Task - Questionnaire 1</b>
        <hr>
    </h2>

    <h3>
        This is a questionnaire.
    </h3>

    <div [formGroup]="apathyQuestionnaire" class="form">
       
        <div class="py-2 d-flex flex-column">
            <label class="font-weight-bold">1. Are you interested in learning new things?</label>
            <mat-radio-group formControlName="Q1" required>
                <mat-radio-button class="w-100" *ngFor="let response of responses" [value]="response">{{response}}</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="apathyQuestionnaire.get('Q1')?.hasError('required')">This is required</mat-error>
        </div>
        <br>
        <div class="py-2 d-flex flex-column">
            <label class="font-weight-bold">2. Does anything interest you?</label>
            <mat-radio-group formControlName="Q2" required>
                <mat-radio-button class="w-100" *ngFor="let response of responses" [value]="response">{{response}}</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="apathyQuestionnaire.get('Q2')?.hasError('required')">This is required</mat-error>
        </div>
        <br>

        <div align="center" class="bottom-button-bar">
            <div class="d-flex flex-row align-items-center justify-content-around">
                <div class="m-2">
                    <button mat-raised-button (click)="cancel()" color="warn">
                        CANCEL
                        &nbsp;
                        <mat-icon>
                            clear
                        </mat-icon>
                    </button>
                </div>
                <div class="m-2">
                    <button mat-raised-button color="primary" (click)="submit()" [disabled]="!apathyQuestionnaire.valid">
                        SUBMIT
                        &nbsp;
                        <mat-icon>
                            check
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
