<div class="login d-flex flex-column align-items-center justify-content-center">
    <div align="center">
        <mat-card class="shadow-lg" style="border-radius: 10px; width: 300px;">
            <div class="card-body">
                <div align="center">
                    <img class="logo" src="assets/logo/lablogo.png" alt="Sharplab Brain Logo">
                </div>
                <br>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <mat-form-field class="py-1" floatLabel="always">
                        <mat-label>EMAIL</mat-label>
                        <mat-icon matSuffix>email</mat-icon>
                        <input matInput formControlName="email" type="email" placeholder="example@domain.com" email required>
                        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">This is required</mat-error>
                        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">This must be a valid email</mat-error>
                    </mat-form-field>
                    <mat-form-field class="py-1" floatLabel="always">
                        <mat-label>PASSWORD</mat-label>
                        <mat-icon matSuffix>vpn_key</mat-icon>
                        <input type="text" formControlName="password" #password type="password" matInput placeholder="my-strong-password">
                        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">This is required</mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="mode === 'REGISTER'" class="py-1" floatLabel="always">
                        <mat-label>CONFIRM PASSWORD</mat-label>
                        <mat-icon matSuffix>vpn_key</mat-icon>
                        <input type="text" formControlName="confirmPassword" type="password" matInput placeholder="my-strong-password">
                        <mat-error *ngIf="loginForm.hasError('passwordMatch')">Passwords must match!</mat-error>
                    </mat-form-field>
                    <div matRipple matRippleColor="#ffffff33" class="my-3">
                        <button type="submit"
                                class="btn-block btn-sm rounded-btn" 
                                mat-raised-button  
                                color="primary"
                                [disabled]="!loginForm.valid">
                            {{ mode === "LOGIN" ? "SIGN IN" : "SIGN UP" }}
                        </button>
                    </div>
                    <div>
                        <div *ngIf="mode === 'LOGIN'" style=" font-weight: 300; font-size: 13px;">
                            <a style="color:inherit; text-decoration:underline; background-color: transparent;"
                                href="javascript:void(0)" (click)="setMode('REGISTER')">Sign Up</a>
                        </div>
                        <div *ngIf="mode === 'REGISTER'" style=" font-weight: 300; font-size: 13px;">
                            <a style="color:inherit; text-decoration:underline; background-color: transparent;"
                                href="javascript:void(0)" (click)="setMode('LOGIN')">Sign In</a>
                        </div>
                        <div style=" font-weight: 300; font-size: 13px;">
                            <a style="color:inherit; text-decoration:underline; background-color: transparent;"
                                href="javascript:void(0)">Forgot Password</a>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card>
    </div>
</div>

<div class="vector" style="background: linear-gradient(145deg,#3f51b5,#3f51b5)">
</div>