<div class="w-100 h-100 flex-column-space-between">
    <iframe (load)="isDisabled = false" *ngIf="embeddedSurveyLink" id="surveyFrame" class="w-100 h-100" [src]="embeddedSurveyLink | safe"></iframe>
    <div *ngIf="!embeddedSurveyLink" class="w-100 h-100 flex-column-center" style="color: red;">
        <h1>Could not find survey</h1>
    </div>

    <!-- Navigation buttons -->
    <div class="w-100 p-4 uppercase">
        <div class="flex-row-space-between">
            <div>
                <button mat-raised-button color="primary" disabled>
                    <mat-icon>
                        arrow_backward
                    </mat-icon>
                    &nbsp;
                    PREVIOUS
                </button>
            </div>
            <div>
                <button mat-raised-button color="primary" [disabled]="isDisabled" (click)="proceed()">
                    NEXT
                    &nbsp;
                    <mat-icon>
                        arrow_forward
                    </mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>