<div class="container-fluid p-4">
    <div class="d-flex justify-content-between">
        <h2 class="mb-5">Your Custom Tasks</h2>
        <div>
            <button class="btn btn-success" (click)="openCreateCustomTaskModal()">Add new Questionnaire</button>
            <button class="btn btn-primary ml-3" (click)="openCustomTaskHelpModal()">Help</button>
        </div>
    </div>

    <div *ngIf="(customTasks | async)?.length == 0" style="color: red;">No Tasks</div>

    <table *ngIf="(customTasks | async)?.length > 0" mat-table [dataSource]="customTasks" class="mat-elevation-z3 w-100">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td class="first-col-width" mat-cell *matCellDef="let customTask"> {{customTask.name}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let customTask"> {{customTask.description}} </td>
        </ng-container>

        <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef> URL </th>
            <td mat-cell *matCellDef="let customTask">{{customTask.url}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let customTask">
                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary" style="width: 49%;" (click)="previewCustomTask(customTask)">Preview</button>
                    <button  class="btn btn-danger" style="width: 49%;" (click)="deleteCustomTask(customTask)">Delete</button>
                </div>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedCustomTaskColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedCustomTaskColumns;"></tr>

    </table>
</div>