<div *ngIf="studyLoaded" class="container-fluid wrapper task-text flex-column-center">
    <div class="full-box flex-column-center">
        <div *ngIf="showStimulus">
            <img *ngIf="stimulusShown" class="stimulus" [src]="stimulusShown" alt="Stimulus" />
        </div>

        <div *ngIf="showFixation">
            <i class="material-icons" style="font-size: 60px">add</i>
        </div>

        <div *ngIf="showFeedback">
            <div class="feedback">
                {{ feedback }}
            </div>
        </div>
    </div>

    <!-- <div class="full-box flex-column-space-between" *ngIf="!isBreak && step === 1">
        <div class="h-100 flex-column-center instructions">
            <div class="bold mb-3">Welcome to the Oddball task</div>

            <div class="mb-3">Read the instructions carefully</div>

            <div>In this game, you will see "+" in the middle of the screen.</div>
            <div class="mb-3">The "+" will be replaced by different shapes, which will be presented only briefly.</div>

            <div class="mb-3">Your goal is to identify when the triangle appears.</div>

            <div class="mb-3">
                Press <span class="uppercase">{{ oddballCounterbalance }}</span> on the keyboard when you see the
                TRIANGLE.
                <br />
                Press <span class="uppercase">{{ oddballCounterbalance }}</span> on the keyboard for any other shape.
            </div>

            <div class="bold">Click 'NEXT' to proceed</div>
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon> arrow_backward </mat-icon>
                        &nbsp; PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT &nbsp;
                        <mat-icon> arrow_forward </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="full-box flex-column-space-between" *ngIf="!isBreak && step === 2">
        <div class="h-100 flex-column-center instructions">
            <div class="mb-3">
                You will start with a warm-up block and then a practice block where feedback will be provided after each
                trial.
            </div>

            <div class="mb-3 bold">
                Remember:
                <br />
                Press <span class="uppercase">{{ oddballCounterbalance }}</span> on the keyboard when you see the
                TRIANGLE.
                <br />
                Press <span class="uppercase">{{ oddballCounterbalance }}</span> on the keyboard for any other shape.
            </div>

            <div class="bold">Click 'START' to begin the warm-up block</div>
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon> arrow_backward </mat-icon>
                        &nbsp; PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startPractice()">
                        START &nbsp;
                        <mat-icon> arrow_forward </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box flex-column-center" *ngIf="!isBreak && step === 3">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <div class="full-box flex-column-center" *ngIf="!isBreak && step === 4">
        <div *ngIf="isStimulus">
            <img *ngIf="stimulusShown" class="stimulus" [src]="stimulusShown" alt="Stimulus" />
        </div>

        <div *ngIf="showFixation">
            <i class="material-icons" style="font-size: 60px">add</i>
        </div>

        <div *ngIf="!isStimulus">
            <div class="feedback">
                {{ feedback }}
            </div>
        </div>
    </div>

    <div class="full-box flex-column-center" *ngIf="!isBreak && step === 5">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <div class="full-box flex-column-space-between" *ngIf="!isBreak && step === 6">

        <div class="h-100 flex-column-center instructions">
            <div class="mb-3">
                You have completed the warm-up block! Next is a practice block where feedback will be provided.
            </div>

            <div class="bold mb-3">
                Remember:
                <br />
                Press <span class="uppercase">{{ oddballCounterbalance }}</span> on the keyboard when you see the
                TRIANGLE.
                <br />
                Press <span class="uppercase">{{ oddballCounterbalance }}</span> on the keyboard for any other shape.
            </div>

            <div class="bold">Click 'START' when you are ready to begin the experiment</div>
        </div>


        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon> arrow_backward </mat-icon>
                        &nbsp; PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startPractice()">
                        START &nbsp;
                        <mat-icon> arrow_forward </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="full-box flex-column-center" *ngIf="!isBreak && step === 7">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>


    <div class="full-box flex-column-center" *ngIf="!isBreak && step === 8">
        <div *ngIf="isStimulus">
            <img *ngIf="stimulusShown" class="stimulus" [src]="stimulusShown" alt="Stimulus" />
        </div>

        <div *ngIf="showFixation">
            <i class="material-icons" style="font-size: 60px">add</i>
        </div>

        <div *ngIf="!isStimulus">
            <div class="feedback">
                {{ feedback }}
            </div>
        </div>
    </div>


    <div class="full-box flex-column-center" *ngIf="!isBreak && step === 9">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>


    <div class="full-box flex-column-space-between" *ngIf="!isBreak && step === 10">

        <div class="h-100 flex-column-center instructions">
            <div class="mb-3">
                You have reached the end of the practice block! Feedback will no longer be provided. There will be a
                total of 4 blocks with breaks between each block.
            </div>

            <div class="bold mb-3">
                Remember:
                <br />
                Press <span class="uppercase">{{ oddballCounterbalance }}</span> on the keyboard when you see the
                TRIANGLE.
                <br />
                Press <span class="uppercase">{{ oddballCounterbalance }}</span> on the keyboard for any other shape.
            </div>

            <div class="bold">Click 'START' to begin the warm-up block</div>
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon> arrow_backward </mat-icon>
                        &nbsp; PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startActualGame()">
                        START &nbsp;
                        <mat-icon> arrow_forward </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div
        class="full-box flex-column-space-between"
        *ngIf="!isBreak && (step === 12 || step === 16 || step === 20 || step === 24)"
    >
        <div class="h-100 flex-column-center instructions">
            <div class="bold mb-3">Get ready!</div>

            <div class="bold mb-3">
                Remember:
                <br />
                Press <span class="uppercase">{{ oddballCounterbalance }}</span> on the keyboard when you see the
                TRIANGLE.
                <br />
                Press <span class="uppercase">{{ oddballCounterbalance }}</span> on the keyboard for any other shape.
            </div>
        </div>
    </div>

    <div
        class="full-box flex-column-center"
        *ngIf="!isBreak && (step === 13 || step === 17 || step === 21 || step === 25)"
    >
        <div *ngIf="isStimulus">
            <img *ngIf="stimulusShown" class="stimulus" [src]="stimulusShown" alt="Stimulus" />
        </div>

        <div *ngIf="showFixation">
            <i class="material-icons" style="font-size: 60px">add</i>
        </div>

        <div *ngIf="!isStimulus" align="center">
            <div class="feedback" *ngIf="showFeedbackAfterEveryTrial && feedback === 'Too slow'">
                <span>{{ feedback }}</span>
            </div>
        </div>
    </div>

    <div
        class="full-box flex-column-center"
        *ngIf="!isBreak && (step === 14 || step === 18 || step === 22 || step === 26)"
    >
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <div class="full-box flex-column-space-between" *ngIf="isBreak">
        <div class="h-100 flex-column-center instructions">
            <div class="mb-3">You have reached the end of the block!</div>
            <div class="mb-3">You may take a 30 second break.</div>
            <div class="bold mb-3">
                {{ breakTimeDisplayValue }}
            </div>

            <div class="bold mb-3">
                Remember:
                <br />
                Press <span class="uppercase">{{ oddballCounterbalance }}</span> on the keyboard when you see the
                TRIANGLE.
                <br />
                Press <span class="uppercase">{{ oddballCounterbalance }}</span> on the keyboard for any other shape.
            </div>

            <div class="mb-3">You will be automatically directed to the next block.</div>
            <div class="mb-3">A "Get Ready!" slide will appear before you begin.</div>
            <div class="bold">You can click 'RESUME' to move onto the next round</div>
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon> arrow_backward </mat-icon>
                        &nbsp; PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="stopBreak()">
                        RESUME &nbsp;
                        <mat-icon> arrow_forward </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box flex-column-space-between" *ngIf="!isBreak && step === 27">
        <div class="h-100 flex-column-center instructions">
            <div class="bold mb-3">Game has finished</div>

            <div class="bold">Thank you for your participation!</div>
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="flex-row-space-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon> arrow_backward </mat-icon>
                        &nbsp; PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="continueAhead()">
                        CONTINUE &nbsp;
                        <mat-icon> arrow_forward </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div> -->
</div>
