<div>
    <div>
        <h1 style="font-weight: bold">***Please read carefully***</h1>
        <hr />
    </div>

    <div>
        <span>We are taking you to a new section of the study</span>
        <br />
        <br />
        <span> At the end of this section, <b> you will be given a code word </b> </span>
        <br />
        <br />
        <span>When you receive this code word, hit the button at the bottom right corner of the screen.</span>
        <br />
        <br />
        <span style="color: red; font-weight: bold">
            Until you see the code word, do not click the purple button on the bottom right of the screen.
        </span>
    </div>

    <button class="w-100 mt-3" color="primary" mat-raised-button (click)="onClose()">Acknowledge</button>
</div>
