<div *ngIf="isVisible" class="questionnaire-container">
    <h1 class="mat-h1 my-4 color-primary">
        <b>{{ handleText(title) }}</b>
        <hr />
    </h1>
    <div>
        <form [formGroup]="questionnaire">
            <ng-container *ngFor="let question of questions">
                <ng-container *ngIf="controlIsVisible(question.key) && question.questionType === 'matrix'">
                    <!-- here, the input order MATTERS. formControlState relies on question existing so question must be inputted first -->
                    <app-matrix
                        [formControlName]="question.key"
                        [question]="question"
                        [formControlState]="formControlsState[question.key]"
                    ></app-matrix>
                </ng-container>
                <ng-container
                    *ngIf="controlIsVisible(question.key) && question.questionType === 'multipleChoiceSelect'"
                >
                    <app-multiple-choice-select
                        [formControlState]="formControlsState[question.key]"
                        [question]="question"
                        [questionnaire]="questionnaire"
                    ></app-multiple-choice-select>
                </ng-container>

                <div *ngIf="controlIsVisible(question.key) && question.questionType === 'radiobuttons'">
                    <app-radio-buttons
                        [formControlState]="formControlsState[question.key]"
                        [question]="question"
                        [questionnaire]="questionnaire"
                    ></app-radio-buttons>
                </div>

                <div
                    *ngIf="controlIsVisible(question.key) && question.questionType === 'freeTextResponse'"
                    class="my-4"
                >
                    <h2
                        *ngIf="question.title"
                        class="color-primary {{ question.styles?.['title-font-size'] ? 'responsive-font-size-' + question.styles?.['title-font-size'] : 'responsive-font-size-md' }}"
                        [innerHTML]="handleText(question.title)"
                    ></h2>
                    <p
                        *ngIf="question.textContent"
                        class="sub-text {{ question.styles?.['title-font-size'] ? 'responsive-font-size-' + question.styles?.['title-font-size'] : 'responsive-font-size-md' }}"
                        [innerHTML]="handleText(question.textContent)"
                    ></p>
                    <mat-form-field class="w-50 d-block">
                        <mat-label>{{ handleText(question.label) }}</mat-label>
                        <textarea rows="4" [formControlName]="question.key" matInput type="text"></textarea>
                        <mat-error *ngIf="questionnaire.get(question.key)?.hasError('required')">{{
                            'errorMessages.required' | translate
                        }}</mat-error>
                    </mat-form-field>
                </div>

                <div *ngIf="controlIsVisible(question.key) && question.questionType === 'input'" class="my-4">
                    <h2 *ngIf="question.title" class="color-primary" [innerHTML]="handleText(question.title)"></h2>
                    <p *ngIf="question.textContent" class="sub-text" [innerHTML]="handleText(question.textContent)"></p>
                    <mat-form-field class="w-50 d-block">
                        <mat-label>{{ handleText(question.label) }}</mat-label>
                        <input
                            matInput
                            [formControlName]="question.key"
                            [type]="question.validation?.isNumeric ? 'number' : 'text'"
                        />
                        <mat-error
                            class="responsive-font-size-sm"
                            *ngIf="questionnaire.get(question.key)?.hasError('required')"
                            >{{ 'errorMessages.required' | translate }}</mat-error
                        >
                        <mat-error
                            class="responsive-font-size-sm"
                            *ngIf="questionnaire.get(question.key)?.hasError('min')"
                            >{{ 'errorMessages.minValidation' | translate }}&nbsp;{{
                                question.validation.min
                            }}</mat-error
                        >
                        <mat-error
                            class="responsive-font-size-sm"
                            *ngIf="questionnaire.get(question.key)?.hasError('max')"
                            >{{ 'errorMessages.maxValidation' | translate }}&nbsp;{{
                                question.validation.max
                            }}</mat-error
                        >
                    </mat-form-field>
                </div>

                <div *ngIf="controlIsVisible(question.key) && question.questionType === 'slider'">
                    <app-slider-control
                        [formControlState]="formControlsState[question.key]"
                        [question]="question"
                        [questionnaire]="questionnaire"
                    ></app-slider-control>
                </div>

                <div
                    *ngIf="controlIsVisible(question.key) && question.questionType === 'displayText'"
                    class="my-4 {{ question.indent ? 'indent-' + question.indent : '' }}"
                >
                    <h2
                        *ngIf="question.title"
                        class="color-primary {{ question.styles?.['title-font-size'] ? 'responsive-font-size-' + question.styles?.['title-font-size'] : 'responsive-font-size-md' }}"
                        [innerHTML]="handleText(question.title)"
                    ></h2>
                    <p
                        *ngIf="question.textContent"
                        class="sub-text {{ question.styles?.['text-content-font-size'] ? 'responsive-font-size-' + question.styles?.['text-content-font-size'] : 'responsive-font-size-md' }}"
                        [innerHTML]="handleText(question.textContent)"
                    ></p>
                </div>

                <div *ngIf="controlIsVisible(question.key) && question.questionType === 'divider'" class="my-4">
                    <hr />
                </div>
            </ng-container>
            <div style="color: red; font-size: 1rem; padding: 10px 0" *ngIf="!questionnaire.valid">
                <span>
                    {{ 'errorMessages.unansweredQuestions' | translate }}
                </span>
            </div>
            <button
                (click)="onSubmit()"
                class="w-25 mb-5"
                style="text-transform: uppercase"
                [disabled]="!questionnaire.valid || wasClicked"
                color="primary"
                mat-raised-button
            >
                {{ 'buttons.submit' | translate }}
            </button>
        </form>
    </div>
</div>
