<div *ngIf="isVisible" class="questionnaire-container">
    <h1 class="my-4 color-primary responsive-font-size-xl">
        <b>{{ handleText(title) }}</b>
        <hr />
    </h1>
    <div>
        <form [formGroup]="questionnaire">
            <ng-container *ngFor="let question of questions">
                <div
                    *ngIf="controlIsVisible(question.key) && question.questionType === 'matrix'"
                    class="question-container {{ shouldHighlightQuestion(question.key) ? 'highlight' : '' }}"
                >
                    <!-- here, the input order MATTERS. formControlState relies on question existing so question must be inputted first -->
                    <app-matrix
                        [formControlName]="question.key"
                        [question]="question"
                        [formControlState]="formControlsState[question.key]"
                    ></app-matrix>
                </div>
                <div
                    *ngIf="controlIsVisible(question.key) && question.questionType === 'multipleChoiceSelect'"
                    class="question-container {{ shouldHighlightQuestion(question.key) ? 'highlight' : '' }}"
                >
                    <app-multiple-choice-select
                        [formControlState]="formControlsState[question.key]"
                        [question]="question"
                        [questionnaire]="questionnaire"
                    ></app-multiple-choice-select>
                </div>

                <div
                    *ngIf="controlIsVisible(question.key) && question.questionType === 'radiobuttons'"
                    class="question-container {{ shouldHighlightQuestion(question.key) ? 'highlight' : '' }}"
                >
                    <app-radio-buttons
                        [formControlState]="formControlsState[question.key]"
                        [question]="question"
                        [questionnaire]="questionnaire"
                    ></app-radio-buttons>
                </div>

                <div
                    *ngIf="controlIsVisible(question.key) && question.questionType === 'freeTextResponse'"
                    class="question-container {{ shouldHighlightQuestion(question.key) ? 'highlight' : '' }} {{
                        question.indent ? 'indent-' + question.indent : ''
                    }}"
                >
                    <h2
                        *ngIf="question.title"
                        class="color-primary {{ question.styles?.['title-font-size'] ? 'responsive-font-size-' + question.styles?.['title-font-size'] : 'responsive-font-size-md' }}"
                        [innerHTML]="handleText(question.title)"
                    ></h2>
                    <p
                        *ngIf="question.textContent"
                        class="sub-text {{ question.styles?.['title-font-size'] ? 'responsive-font-size-' + question.styles?.['title-font-size'] : 'responsive-font-size-md' }}"
                        [innerHTML]="handleText(question.textContent)"
                    ></p>
                    <mat-form-field class="w-50 d-block">
                        <mat-label>{{ handleText(question.label) }}</mat-label>
                        <textarea rows="4" [formControlName]="question.key" matInput type="text"></textarea>
                        <mat-error *ngIf="questionnaire.get(question.key)?.hasError('required')">{{
                            'errorMessages.required' | translate
                        }}</mat-error>
                    </mat-form-field>
                </div>

                <div
                    *ngIf="controlIsVisible(question.key) && question.questionType === 'input'"
                    class="question-container {{ shouldHighlightQuestion(question.key) ? 'highlight' : '' }} {{
                        question.indent ? 'indent-' + question.indent : ''
                    }}"
                >
                    <h2
                        *ngIf="question.title"
                        class="color-primary {{ question.styles?.['title-font-size'] ? 'responsive-font-size-' + question.styles?.['title-font-size'] : 'responsive-font-size-md' }}"
                        [innerHTML]="handleText(question.title)"
                    ></h2>

                    <p
                        *ngIf="question.textContent"
                        class="sub-text"
                        [innerHTML]="handleText(question.textContent)"
                        class="sub-text {{
                        question.styles?.['text-content-font-size'] ? 'responsive-font-size-' + question.styles?.['text-content-font-size'] : 'responsive-font-size-md'
                    }}"
                    ></p>
                    <mat-form-field class="w-50 d-block">
                        <mat-label>{{ handleText(question.label) }}</mat-label>
                        <input
                            matInput
                            [formControlName]="question.key"
                            [type]="question.validation?.isNumeric ? 'number' : 'text'"
                        />
                        <mat-error
                            class="responsive-font-size-sm"
                            *ngIf="questionnaire.get(question.key)?.hasError('required')"
                            >{{ 'errorMessages.required' | translate }}</mat-error
                        >
                        <mat-error
                            class="responsive-font-size-sm"
                            *ngIf="questionnaire.get(question.key)?.hasError('min')"
                            >{{ 'errorMessages.minValidation' | translate }}&nbsp;{{
                                question.validation.min
                            }}</mat-error
                        >
                        <mat-error
                            class="responsive-font-size-sm"
                            *ngIf="questionnaire.get(question.key)?.hasError('max')"
                            >{{ 'errorMessages.maxValidation' | translate }}&nbsp;{{
                                question.validation.max
                            }}</mat-error
                        >
                    </mat-form-field>
                </div>

                <div
                    *ngIf="controlIsVisible(question.key) && question.questionType === 'slider'"
                    class="question-container {{ shouldHighlightQuestion(question.key) ? 'highlight' : '' }}"
                >
                    <app-slider-control
                        [formControlState]="formControlsState[question.key]"
                        [question]="question"
                        [questionnaire]="questionnaire"
                    ></app-slider-control>
                </div>

                <div
                    *ngIf="controlIsVisible(question.key) && question.questionType === 'displayText'"
                    class="py-2 {{ question.indent ? 'indent-' + question.indent : '' }}"
                >
                    <h2
                        *ngIf="question.title"
                        class="color-primary {{ question.styles?.['title-font-size'] ? 'responsive-font-size-' + question.styles?.['title-font-size'] : 'responsive-font-size-md' }}"
                        [innerHTML]="handleText(question.title)"
                    ></h2>
                    <p
                        *ngIf="question.textContent"
                        class="sub-text {{ question.styles?.['text-content-font-size'] ? 'responsive-font-size-' + question.styles?.['text-content-font-size'] : 'responsive-font-size-md' }}"
                        [innerHTML]="handleText(question.textContent)"
                    ></p>
                </div>

                <div
                    *ngIf="controlIsVisible(question.key) && question.questionType === 'divider'"
                    class="question-container"
                >
                    <hr />
                </div>
            </ng-container>
            <button
                (click)="onSubmit()"
                class="w-25 my-5"
                style="text-transform: uppercase"
                color="primary"
                mat-raised-button
            >
                {{ 'buttons.submit' | translate }}
            </button>
        </form>
    </div>
</div>
