@import '../../../../sass/mixins';

.questionnaire-container {
    padding: 2% 4%;
}

.title-text {
    color: #3f51b5;
}

.sub-text {
    color: #464646;
}

.slider-container {
    display: flex;
    justify-content: center;
    margin: 6rem 0;

    .slider-inner-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.responsive-title {
    @include for-small-device-only {
        font-size: 1rem;
    }

    @include for-small-desktop-only {
        font-size: 1.5rem;
    }

    @include for-desktop-up {
        font-size: 1.8rem;
    }

    @include for-large-desktop-up {
        font-size: 2rem;
    }
}

.error-text {
    color: red;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    @include for-small-device-only {
        width: 100%;
    }

    @include for-desktop-up {
        width: 50%;
    }
}

.vertical {
    display: flex;
    flex-direction: column;
}

.mat-error {
    font-size: 1rem !important;
}

.indent-1 {
    margin-left: 3rem;
}

.indent-2 {
    margin-left: 6rem;
}

.indent-3 {
    margin-left: 9rem;
}
