@import '../../../../sass/mixins';

.questionnaire-container {
    padding: 2% 4%;
}

.form {
    font-size: 1rem;
}

.title-text {
    color: #3f51b5;
}

.sub-text {
    color: #464646;
}

.slider-container {
    display: flex;
    justify-content: center;
    margin: 4rem 0;

    .slider-inner-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.error-text {
    color: red;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.mat-error {
    font-size: 1rem !important;
}

.radiobuttons-images-container {
    display: flex;
    flex-direction: row;

    .image-container {
        flex-grow: 1;
        flex-basis: 0;

        .image {
            width: 100%;
        }
    }
}
