<div class="flex-column-center h-100">
    <div class="h-100 uppercase instructions">
        <div class="font-weight-bold uppercase mb-5">{{ question }}</div>

        <div class="button-container">
            <button
                *ngFor="let option of options"
                class="option-button"
                (click)="handleSelectOption(option.value)"
                mat-raised-button
                color="primary"
            >
                {{ getTranslatedText(option.label) }}
            </button>
        </div>
    </div>
</div>
