<div *ngIf="studyLoaded" class="container-fluid wrapper task-text flex-column-center">
    <div class="full-box flex-column-center">
        <ng-container *ngIf="showStimulus">
            <img *ngIf="stimulusShown" class="stimulus" [src]="stimulusShown" alt="Stimulus" />
        </ng-container>

        <ng-container *ngIf="showFixation">
            <i class="material-icons" style="font-size: 60px">add</i>
        </ng-container>

        <ng-container *ngIf="showFeedback">
            <div class="feedback">
                {{ feedback | translate }}
            </div>
        </ng-container>
    </div>
</div>
