@import '../../../../sass/mixins';

.name {
    font-size: 50px !important;
}
.stimulus {
    width: 50vw;
    max-width: 1000px;
    height: auto;
}

.response-button {
    font-size: 50px !important;
    width: 200px;
    padding: 20px 40px !important;
}

.response-button-container {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
}
