<div class="landing-navbar">
    <button class="language-menu-button" mat-button [matMenuTriggerFor]="languageMenu">
        {{ currentLanguageLabel }}
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #languageMenu="matMenu">
        <button
            mat-menu-item
            *ngFor="let option of languageOptions"
            [disabled]="option.code === currentLang"
            (click)="handleLanguageSelect(option.code)"
        >
            {{ option.label }}
        </button>
    </mat-menu>
</div>

<div class="login flex-column-center">
    <mat-card class="card shadow-lg" style="overflow: auto; max-height: 90%">
        <router-outlet></router-outlet>
        <div class="mt-4" style="padding: 0 1rem">
            <span class="error-text"
                >{{ 'landing-page.contact-message' | translate }} <b>sharplab.neuro@mcgill.ca</b></span
            >
        </div>
    </mat-card>
</div>

<div class="vector" style="background: linear-gradient(145deg, #3f51b5, #3f51b5)"></div>
