<div class="display-container">
    <div *ngIf="timerMode && showTimer">
        <div class="timer-value">
            <span>{{ timerDisplayValue }}</span>
        </div>
    </div>
    <div class="display-instructions overflow-scrollable">
        <div>
            <ng-container *ngIf="title">
                <h1 class="title" [innerHTML]="title"></h1>
                <h3 *ngIf="subtitle" class="subtitle" [innerHTML]="subtitle"></h3>
                <hr />
            </ng-container>
        </div>

        <div>
            <ng-container *ngFor="let section of displaySections">
                <ng-container *ngIf="section.sectionType === 'text'">
                    <div
                        class="section"
                        [innerHTML]="injectString(section.textContent, section.injection, section.cacheKey)"
                    ></div>
                </ng-container>
                <div
                    class="image-container {{ section.imageAlignment }}"
                    *ngIf="
                        section.sectionType === 'image-horizontal' ||
                        section.sectionType === 'image-square' ||
                        section.sectionType === 'image-small' ||
                        section.sectionType === 'image-fill'
                    "
                >
                    <img
                        class="{{ section.sectionType }}"
                        [src]="injectString(getTranslation(section.imagePath), section.injection, section.cacheKey)"
                        alt="Instruction Image"
                    />
                </div>
            </ng-container>
        </div>
    </div>
    <app-navigation-buttons
        *ngIf="showNavigationButtons"
        (onNext)="onButtonPress($event)"
        (onPrevious)="onButtonPress($event)"
        [isStart]="buttonConfig.isStart"
        [previousDisabled]="buttonConfig.previousDisabled"
        [nextDisabled]="buttonConfig.nextDisabled"
        [forwardButtonText]="nextButtonText"
        [backButtonText]="previousButtonText"
    ></app-navigation-buttons>
</div>
