<!-- STILL IN PROGRESS -->


<div class="container-fluid wrapper d-flex flex-column align-items-center justify-content-center">


    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 1">
        <!-- Introduction -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/demandselection/1.png" alt="Demand Selection instructions">
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 2">
        <!-- Introduction -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/demandselection/2.png" alt="Demand Selection instructions">
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 3">
        <!-- Introduction -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/demandselection/3.png" alt="Demand Selection instructions">
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 4">
        <!-- Instructions -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/demandselection/4.png" alt="Demand Selection instructions">
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 5">
        <!-- Instructions -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/demandselection/5.png" alt="Demand Selection instructions">
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 6">
        <!-- First Practice -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/demandselection/6.png" alt="Demand Selection instructions">
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startPractice()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 7">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 8">
        <!-- practice round -->
        <div *ngIf="isStimulus">

            <div (mouseenter)="onHoverFixation($event)" style="cursor: pointer;" *ngIf="showFixation">
                <img src="/assets/images/stimuli/eye.png" class="fixation"/>
            </div>


            <div *ngIf="!showFixation">
                <div class="patch-container d-flex justify-content-between" rotate [rotation]="currentBlock.blockConfig.rotation">
                    <div rotate [rotation]="-currentBlock.blockConfig.rotation" class="patch">
                        <img (mouseenter)="onHoverPatch($event, 'firstPatch')" *ngIf="!showNumber" class="w-100 h-100" src="{{imagePath + currentBlock.blockConfig.firstPatchImg}}" alt="First Patch">
                        <div *ngIf="showNumber && selectedPatch === 'firstPatch'" class="w-100 h-100 d-flex justify-content-center align-items-center">
                            <span class="displayed-number" [style.color]="color">{{ number }}</span>
                        </div>
                    </div>
                    <div rotate [rotation]="-currentBlock.blockConfig.rotation" class="patch">
                        <img (mouseenter)="onHoverPatch($event, 'secondPatch')" *ngIf="!showNumber" class="w-100 h-100" src="{{imagePath + currentBlock.blockConfig.secondPatchImg}}" alt="Second Patch">
                        <div *ngIf="showNumber && selectedPatch === 'secondPatch'" class="w-100 h-100 d-flex justify-content-center align-items-center">
                            <span class="displayed-number" [style.color]="color">{{ number }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!isStimulus && (showFeedbackAfterEveryTrial || (feedback === 'Too slow'))">
            <div class="feedback">
                {{feedback}}
            </div>
        </div>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 9">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- Show practice round finished message -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 10">
        <!-- Heading -->
        <div class="w-100 p-4 uppercase" align="center">
            <h2>Practice Round Is Now Complete</h2>
        </div>

        <!-- Introduction -->
        <div class="w-100 p-4 uppercase" align="center">

            <div class="statement">
                You got {{totalScore/10}} out of {{practiceTrials}} trials correct
            </div>

            <br>


            <div class="statement-final">
                Click 'NEXT' when you are ready for the next stage.
            </div>

        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button disabled (click)="proceedtoPreviousStep();">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 11">
        <!-- Recap instructions -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/demandselection/7.png" alt="Demand Selection instructions">
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startPractice()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 12">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- second practice round -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 13">
        <!-- practice round -->
        <div *ngIf="isStimulus">

            <div (mouseenter)="onHoverFixation($event)" style="cursor: pointer;" *ngIf="showFixation">
                <img src="/assets/images/stimuli/eye.png" class="fixation"/>
            </div>


            <div *ngIf="!showFixation">
                <div class="patch-container d-flex justify-content-between" rotate [rotation]="currentBlock.blockConfig.rotation">
                    <div rotate [rotation]="-currentBlock.blockConfig.rotation" class="patch">
                        <img (mouseenter)="onHoverPatch($event, 'firstPatch')" *ngIf="!showNumber" class="w-100 h-100" src="{{imagePath + currentBlock.blockConfig.firstPatchImg}}" alt="First Patch">
                        <div *ngIf="showNumber && selectedPatch === 'firstPatch'" class="w-100 h-100 d-flex justify-content-center align-items-center">
                            <span class="displayed-number" [style.color]="color">{{ number }}</span>
                        </div>
                    </div>
                    <div rotate [rotation]="-currentBlock.blockConfig.rotation" class="patch">
                        <img (mouseenter)="onHoverPatch($event, 'secondPatch')" *ngIf="!showNumber" class="w-100 h-100" src="{{imagePath + currentBlock.blockConfig.secondPatchImg}}" alt="Second Patch">
                        <div *ngIf="showNumber && selectedPatch === 'secondPatch'" class="w-100 h-100 d-flex justify-content-center align-items-center">
                            <span class="displayed-number" [style.color]="color">{{ number }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!isStimulus && (showFeedbackAfterEveryTrial || (feedback === 'Too slow'))">
            <div class="feedback">
                {{feedback}}
            </div>
        </div>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 14">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 15">
        <!-- Intro to main game -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/demandselection/8.png" alt="Demand Selection instructions">
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Actual game: Round 1 Intro -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 16">

        <!-- Introduction -->
        <div class="w-100 h-100 d-flex flex-column justify-content-center p-4 uppercase" align="center">

            <div class="statement">
                <span>This is part 1 of the game.</span>
            </div>

            <br>
            <div class="statement-final">
                Click 'NEXT' to proceed
            </div>

        </div>

        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 17">
        <!-- Recap instructions -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/demandselection/10.png" alt="Demand Selection instructions">
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 18">
        <!-- Recap instructions -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/demandselection/9.png" alt="Demand Selection instructions">
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 19">
        <!-- Recap instructions -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/demandselection/10.png" alt="Demand Selection instructions">
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 20">
        <!-- Recap instructions -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/demandselection/11.png" alt="Demand Selection instructions">
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="prepareActualGame()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 21">
        <!-- Recap instructions -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/demandselection/12.png" alt="Demand Selection instructions">
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startBlock()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 22">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- actual game for block 1 -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 23">

        <div *ngIf="isStimulus">

            <div (mouseenter)="onHoverFixation($event)" style="cursor: pointer;" *ngIf="showFixation">
                <img src="/assets/images/stimuli/eye.png" class="fixation"/>
            </div>

            <div *ngIf="!showFixation">
                <div class="patch-container d-flex justify-content-between" rotate [rotation]="currentBlock.blockConfig.rotation">
                    <div rotate [rotation]="-currentBlock.blockConfig.rotation" class="patch">
                        <img (mouseenter)="onHoverPatch($event, 'firstPatch')" *ngIf="!showNumber" class="w-100 h-100" src="{{imagePath + currentBlock.blockConfig.firstPatchImg}}" alt="First Patch">
                        <div *ngIf="showNumber && selectedPatch === 'firstPatch'" class="w-100 h-100 d-flex justify-content-center align-items-center">
                            <span class="displayed-number" [style.color]="color">{{ number }}</span>
                        </div>
                    </div>
                    <div rotate [rotation]="-currentBlock.blockConfig.rotation" class="patch">
                        <img (mouseenter)="onHoverPatch($event, 'secondPatch')" *ngIf="!showNumber" class="w-100 h-100" src="{{imagePath + currentBlock.blockConfig.secondPatchImg}}" alt="Second Patch">
                        <div *ngIf="showNumber && selectedPatch === 'secondPatch'" class="w-100 h-100 d-flex justify-content-center align-items-center">
                            <span class="displayed-number" [style.color]="color">{{ number }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!isStimulus && (showFeedbackAfterEveryTrial || (feedback === 'Too slow'))">
            <div class="feedback">
                {{feedback}}
            </div>
        </div>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 24">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- Actual game: Round 1 Complete message -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 25">

        <!-- Introduction -->
        <div class="w-100 h-100 d-flex flex-column justify-content-center p-4 uppercase" align="center">

            <div class="statement">
                <span>Part 1 is now complete.</span>
            </div>

            <br>
            <div class="statement-final">
                Click 'NEXT' to proceed
            </div>

        </div>

        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="handleNextRound()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Actual game: Round 2,3,4 Intro -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 26">

        <!-- Introduction -->
        <div class="w-100 h-100 d-flex flex-column justify-content-center p-4 uppercase" align="center">

            <div class="statement">
                <span>This is part {{blockNum}} of the game.</span>
            </div>

            <br>
            <div class="statement-final">
                Click 'NEXT' to proceed
            </div>

        </div>

        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- instructions recap -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 27">
        <!-- Recap instructions -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/demandselection/12.png" alt="Demand Selection instructions">
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startBlock()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 28">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- actual game for blocks 2, 3, and 4 -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 29">

        <div *ngIf="isStimulus">

            <div (mouseenter)="onHoverFixation($event)" style="cursor: pointer;" *ngIf="showFixation">
                <img src="/assets/images/stimuli/eye.png" class="fixation"/>
            </div>

            <div *ngIf="!showFixation">
                <div class="patch-container d-flex justify-content-between" rotate [rotation]="currentBlock.blockConfig.rotation">
                    <div rotate [rotation]="-currentBlock.blockConfig.rotation" class="patch">
                        <img (mouseenter)="onHoverPatch($event, 'firstPatch')" *ngIf="!showNumber" class="w-100 h-100" src="{{imagePath + currentBlock.blockConfig.firstPatchImg}}" alt="First Patch">
                        <div *ngIf="showNumber && selectedPatch === 'firstPatch'" class="w-100 h-100 d-flex justify-content-center align-items-center">
                            <span class="displayed-number" [style.color]="color">{{ number }}</span>
                        </div>
                    </div>
                    <div rotate [rotation]="-currentBlock.blockConfig.rotation" class="patch">
                        <img (mouseenter)="onHoverPatch($event, 'secondPatch')" *ngIf="!showNumber" class="w-100 h-100" src="{{imagePath + currentBlock.blockConfig.secondPatchImg}}" alt="Second Patch">
                        <div *ngIf="showNumber && selectedPatch === 'secondPatch'" class="w-100 h-100 d-flex justify-content-center align-items-center">
                            <span class="displayed-number" [style.color]="color">{{ number }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!isStimulus && (showFeedbackAfterEveryTrial || (feedback === 'Too slow'))">
            <div class="feedback">
                {{feedback}}
            </div>
        </div>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 30">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- Actual game: Round 2,3,4 Complete message -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 31">

        <!-- Introduction -->
        <div class="w-100 h-100 d-flex flex-column justify-content-center p-4 uppercase" align="center">

            <div class="statement">
                <span>Part {{blockNum}} is now complete.</span>
            </div>
            <br>
            <!-- at the 4th block, we want to introduce counterbalancing -->
            <div *ngIf="blockNum === 4" class="statement">
                <span style="color: red;" class="uppercase">We will be asking you to do something different!!!</span>
            </div>
            <br>
            <div class="statement-final">
                Click 'NEXT' to proceed
            </div>
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="handleNextRound()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- start counter balancing -->

    <!-- counter balancing, block 5 -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 32">

        <ng-container *ngIf="counterBalance === 'Select hard patch'">
            <!-- instructions for round 5 -->
            <div class="w-100 px-4 uppercase instructions" align="center">
                <img class="w-100" src="/assets/images/instructions/demandselection/13a.png" alt="Demand Selection instructions">
            </div>
        </ng-container>

        <ng-container *ngIf="counterBalance === 'Select easy patch'">
            <!-- instructions for round 5 -->
            <div class="w-100 px-4 uppercase instructions" align="center">
                <img class="w-100" src="/assets/images/instructions/demandselection/13b.png" alt="Demand Selection instructions">
            </div>
        </ng-container>


        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- instructions recap -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 33">
        <!-- Recap instructions -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/demandselection/12.png" alt="Demand Selection instructions">
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startBlock()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 34">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- actual game for block 5-->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 35">

        <div *ngIf="isStimulus">

            <div (mouseenter)="onHoverFixation($event)" style="cursor: pointer;" *ngIf="showFixation">
                <img src="/assets/images/stimuli/eye.png" class="fixation"/>
            </div>

            <div *ngIf="!showFixation">
                <div class="patch-container d-flex justify-content-between" rotate [rotation]="currentBlock.blockConfig.rotation">
                    <div rotate [rotation]="-currentBlock.blockConfig.rotation" class="patch">
                        <img (mouseenter)="onHoverPatch($event, 'firstPatch')" *ngIf="!showNumber" class="w-100 h-100" src="{{imagePath + currentBlock.blockConfig.firstPatchImg}}" alt="First Patch">
                        <div *ngIf="showNumber && selectedPatch === 'firstPatch'" class="w-100 h-100 d-flex justify-content-center align-items-center">
                            <span class="displayed-number" [style.color]="color">{{ number }}</span>
                        </div>
                    </div>
                    <div rotate [rotation]="-currentBlock.blockConfig.rotation" class="patch">
                        <img (mouseenter)="onHoverPatch($event, 'secondPatch')" *ngIf="!showNumber" class="w-100 h-100" src="{{imagePath + currentBlock.blockConfig.secondPatchImg}}" alt="Second Patch">
                        <div *ngIf="showNumber && selectedPatch === 'secondPatch'" class="w-100 h-100 d-flex justify-content-center align-items-center">
                            <span class="displayed-number" [style.color]="color">{{ number }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!isStimulus && (showFeedbackAfterEveryTrial || (feedback === 'Too slow'))">
            <div class="feedback">
                {{feedback}}
            </div>
        </div>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 36">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- Actual game: Round 5 Complete message -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 37">

        <!-- Introduction -->
        <div class="w-100 h-100 d-flex flex-column justify-content-center p-4 uppercase" align="center">

            <div class="statement">
                <span>Part {{blockNum}} is now complete.</span>
            </div>
            <br>
            <div class="statement">
                <span style="color: red;" class="uppercase">We will be asking you to do something different!!!</span>
            </div>
            <br>
            <div class="statement-final">
                Click 'NEXT' to proceed
            </div>
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="handleNextRound()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- counter balancing, block 6 -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 38">

        <ng-container *ngIf="counterBalance === 'Select hard patch'">
            <!-- instructions for round 5 -->
            <div class="w-100 px-4 uppercase instructions" align="center">
                <img class="w-100" src="/assets/images/instructions/demandselection/14b.png" alt="Demand Selection instructions">
            </div>
        </ng-container>

        <ng-container *ngIf="counterBalance === 'Select easy patch'">
            <!-- instructions for round 5 -->
            <div class="w-100 px-4 uppercase instructions" align="center">
                <img class="w-100" src="/assets/images/instructions/demandselection/14a.png" alt="Demand Selection instructions">
            </div>
        </ng-container>


        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- instructions recap -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 39">
        <!-- Recap instructions -->
        <div class="w-100 px-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/demandselection/12.png" alt="Demand Selection instructions">
        </div>

        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startBlock()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 40">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- actual game for block 6-->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 41">

        <div *ngIf="isStimulus">

            <div (mouseenter)="onHoverFixation($event)" style="cursor: pointer;" *ngIf="showFixation">
                <img src="/assets/images/stimuli/eye.png" class="fixation"/>
            </div>

            <div *ngIf="!showFixation">
                <div class="patch-container d-flex justify-content-between" rotate [rotation]="currentBlock.blockConfig.rotation">
                    <div rotate [rotation]="-currentBlock.blockConfig.rotation" class="patch">
                        <img (mouseenter)="onHoverPatch($event, 'firstPatch')" *ngIf="!showNumber" class="w-100 h-100" src="{{imagePath + currentBlock.blockConfig.firstPatchImg}}" alt="First Patch">
                        <div *ngIf="showNumber && selectedPatch === 'firstPatch'" class="w-100 h-100 d-flex justify-content-center align-items-center">
                            <span class="displayed-number" [style.color]="color">{{ number }}</span>
                        </div>
                    </div>
                    <div rotate [rotation]="-currentBlock.blockConfig.rotation" class="patch">
                        <img (mouseenter)="onHoverPatch($event, 'secondPatch')" *ngIf="!showNumber" class="w-100 h-100" src="{{imagePath + currentBlock.blockConfig.secondPatchImg}}" alt="Second Patch">
                        <div *ngIf="showNumber && selectedPatch === 'secondPatch'" class="w-100 h-100 d-flex justify-content-center align-items-center">
                            <span class="displayed-number" [style.color]="color">{{ number }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!isStimulus && (showFeedbackAfterEveryTrial || (feedback === 'Too slow'))">
            <div class="feedback">
                {{feedback}}
            </div>
        </div>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 42">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- Actual game: Round 6 Complete message -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 43">

        <!-- Heading -->
        <div class="w-100 p-4 uppercase" align="center">
            <h2>Round 6 Is Now Complete</h2>
        </div>

        <!-- Introduction -->
        <div class="w-100 p-4 uppercase" align="center">

            <div class="statement-final">
                Click 'NEXT' when you are ready for the next stage.
            </div>

        </div>

        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="continueAhead()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>