<div class="container-fluid wrapper d-flex flex-column align-items-center justify-content-center">

    <!-- Show welcome message -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 1">

        <!-- Introduction -->
        <div class="w-100 p-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/digitspan/1.png" alt="Digit Span instructions">
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Show practice round message for forward memory -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 2">

        <!-- practice round instructions -->
        <div class="w-100 p-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/digitspan/2.png" alt="Digit Span instructions">
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startForwardMemoryPractice()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 3">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- Start Practice Round for forward memory -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 4">

        <div *ngIf="isStimulus">
            <div style="font-size: 100px;">
                {{digitShown}}
            </div>
        </div>

        <div *ngIf="showFixation">
            <i class="material-icons" style="font-size: 60px;">add</i>
        </div>

        <div *ngIf="isFeedback">
            <div class="feedback">
                {{feedback}}
            </div>
        </div>

        <app-numpad *ngIf="isKeypad" (submit)="onNumpadSubmit($event)"></app-numpad>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 5">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- Show practice round finished message -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 6">
        <!-- end of practice round, start real game -->
        <div class="w-100 p-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/digitspan/3.png" alt="Digit Span instructions">
        </div>

        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disable>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startForwardMemoryActual()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 7">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- Start Actual Round -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 8">
        <div *ngIf="isStimulus">
            <div style="font-size: 100px;">
                {{digitShown}}
            </div>
        </div>

        <div *ngIf="showFixation">
            <i class="material-icons" style="font-size: 60px;">add</i>
        </div>

        <div *ngIf="isFeedback" align="center">
            <div class="feedback" *ngIf="showFeedbackAfterEveryTrial && feedback === 'Too slow'">
                <span>{{feedback}}</span>
            </div>
        </div>

        <app-numpad *ngIf="isKeypad" (submit)="onNumpadSubmit($event)"></app-numpad>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 9">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- Show instructions for backwards memory game -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 10">
        <!-- show instructions for backwards memory game -->
        <div class="w-100 p-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/digitspan/4.png" alt="Digit Span instructions">
        </div>


        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoNextStep()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- practice message for backwards memory game -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 11">
        <!-- show practice message for backwards memory game -->
        <div class="w-100 p-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/digitspan/5.png" alt="Digit Span instructions">
        </div>


        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startBackwardMemoryPractice()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 12">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- Start Practice Round for backward memory -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 13">

        <div *ngIf="isStimulus">
            <div style="font-size: 100px;">
                {{digitShown}}
            </div>
        </div>

        <div *ngIf="showFixation">
            <i class="material-icons" style="font-size: 60px;">add</i>
        </div>

        <div *ngIf="isFeedback">
            <div class="feedback">
                {{feedback}}
            </div>
        </div>

        <app-numpad *ngIf="isKeypad" (submit)="onNumpadSubmit($event)"></app-numpad>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 14">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- Show backwards memory actual game message -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 15">
        <!-- show backwards memory game message -->
        <div class="w-100 p-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/digitspan/6.png" alt="Digit Span instructions">
        </div>


        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="startBackwardMemoryActual()">
                        START
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 16">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- Start Actual Round -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 17">
        <div *ngIf="isStimulus">
            <div style="font-size: 100px;">
                {{digitShown}}
            </div>
        </div>

        <div *ngIf="showFixation">
            <i class="material-icons" style="font-size: 60px;">add</i>
        </div>

        <div *ngIf="isFeedback" align="center">
            <div class="feedback" *ngIf="showFeedbackAfterEveryTrial && feedback === 'Too slow'">
                <span>{{feedback}}</span>
            </div>
        </div>

        <app-numpad *ngIf="isKeypad" (submit)="onNumpadSubmit($event)"></app-numpad>
    </div>

    <!-- Show loader -->
    <div class="full-box d-flex flex-column align-items-center justify-content-center" *ngIf="!isBreak && step === 18">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- Show finished game -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 19">
        <!-- game complete -->
        <div class="w-100 p-4 uppercase instructions" align="center">
            <img class="w-100" src="/assets/images/instructions/digitspan/7.png" alt="Digit Span instructions">
        </div>


        <!-- Navigation buttons -->
        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled>
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="continueAhead()">
                        NEXT
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- div block for break view. Do not need but keep just in case -->
    <!-- <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="isBreak">
        <div class="w-100 p-4 uppercase" align="center">
            <h2>It's break time</h2>
        </div>

        <div class="w-100 p-4 uppercase" align="center">


            <div class="statement">
                Take a short break
            </div>

            <br>

            <div class="statement-final">
                Click 'RESUME' when you are ready
            </div>

        </div>

        <div class="w-100 p-4 uppercase">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div>
                    <button mat-raised-button color="primary" disabled (click)="proceedtoPreviousStep()">
                        <mat-icon>
                            arrow_backward
                        </mat-icon>
                        &nbsp;
                        PREVIOUS
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="resume()">
                        RESUME
                        &nbsp;
                        <mat-icon>
                            arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div> -->


</div>