.instructions-reminder {
    position: absolute;
    bottom: 2rem;
    text-align: center;
}


.image {
    width: 100%;
    text-align: center;

    & img {
        width: 100%; 
        max-width: 800px;
    }
}

.underline-text {
    text-decoration: underline;
}