<mat-list>
    <mat-list-item>
        <p>1. Go to pavlovia and navigate to your desired task</p>
    </mat-list-item>
    <hr />
    <mat-list-item>
        <p>2. Copy the URL. It should be of the form <b>https://run.pavlovia.org/Sharp_lab/your-task-name/html</b></p>
    </mat-list-item>
    <hr />
    <mat-list-item>
        <p>3. Click "Add a new Custom Task" and paste the pavlovia link into the Custom Task URL input.</p>
    </mat-list-item>
    <hr />
    <mat-list-item>
        <p>
            4. URL Query parameters are automatically appended to the end of the URL. This means that when the
            participant does the task, data should be included such as their ID and the associated study code.
        </p>
    </mat-list-item>
</mat-list>
