<div *ngIf="!studyExists" class="error-text p-4">Could not find study</div>

<div *ngIf="studyExists" class="container-fluid">
    <div class="d-flex flex-column">
        <div>
            <span class="badge"> Study Id: {{ study?.id }} </span>
            <span class="badge">{{ study?.started ? 'Active' : 'Inactive' }} </span>
            <span class="badge">{{ study?.canEdit ? 'Study can be edited' : 'Study cannot be edited' }} </span>
            <span class="badge">Created: {{ study?.createdAt | date: 'dd/MM/yyyy HH:mm a' }}</span>
            <span class="badge">Owner: {{ study?.owner?.id }}</span>
        </div>
        <h1 style="margin: 0.25rem 0">Study Name: {{ study?.internalName || '' }}</h1>
        <h3 style="color: rgb(110, 110, 110); margin: 0">
            External name (what participants see): {{ study?.externalName }}
        </h3>
    </div>

    <hr />

    <button
        (click)="downloadAllCSVs(study)"
        [disabled]="isGuest"
        color="accent"
        style="margin-left: 3.5rem; margin-bottom: 1rem; font-size: 1rem; padding: 0.25rem 1rem"
        mat-flat-button
    >
        Download all data
        <mat-icon>download</mat-icon>
    </button>

    <app-data-tree [study]="study"></app-data-tree>
</div>
