<div *ngIf="!studyExists" class="error-text p-4">Could not find study</div>

<div *ngIf="studyExists" class="container-fluid p-4">
    <div class="d-flex flex-column">
        <h2>Participant data for {{ study?.internalName }}</h2>
        <h2 style="color: rgb(110, 110, 110); margin: 0">External name: {{ study?.externalName }}</h2>
        <h2 style="color: rgb(110, 110, 110)">Study ID: {{ study?.id }}</h2>
    </div>

    <button
        [disabled]="!(isAdmin | async)"
        class="select-button"
        style="width: 200px"
        mat-button
        [matMenuTriggerFor]="studyTasks"
    >
        Select Data
        <mat-icon>dehaze</mat-icon>
    </button>

    <hr />

    <mat-menu #studyTasks="matMenu">
        <button
            *ngFor="let studyTask of study.tasks; let i = index"
            mat-menu-item
            (click)="getAndDisplayData(study, i)"
        >
            {{ studyTask.taskOrder }} : {{ studyTask.task.name }}
        </button>
        <hr />
        <button (click)="getCrowdsourceUsersForStudy(study)" mat-menu-item>
            Registered Participants (Crowdsourced)
        </button>
        <button (click)="getStudyUsersForStudy(study)" mat-menu-item>Registered Participants (With accounts)</button>
        <button (click)="getFeedbackForStudy(study)" mat-menu-item>Feedback Questionnaire</button>
    </mat-menu>

    <app-data-table *ngIf="isAdmin | async" [fileName]="fileName" [tableData]="tableData"></app-data-table>
</div>
