<div
    class="d-flex align-items-center justify-content-center w-100"
    style="background-color: #3f51b5; line-height: normal; min-height: 100%"
>
    <div style="width: 75%; flex-direction: column" class="my-3 d-flex">
        <div class="title py-3" style="color: white">Thanks for participating in our study!</div>

        <div class="steps-container text">
            <div class="number-container">1</div>
            <div class="content-container">
                <span>
                    Copy your completion code below and input it into the original site to register your completion of
                    this study
                </span>
                <div class="completion-code">
                    <span class="d-flex align-items-center font-weight-bold" style="color: white">{{
                        completionCode
                    }}</span>
                    <button
                        class="btn btn-primary d-flex"
                        (click)="showCopiedMessage()"
                        [cdkCopyToClipboard]="completionCode"
                        matTooltip="copy to clipboard"
                        #tooltip="matTooltip"
                        style="margin-left: 20px"
                    >
                        Copy completion code &nbsp; <mat-icon>file_copy</mat-icon>
                    </button>
                </div>
                <span>
                    <b>
                        Note: You will not be able to see this again once you close the page, so please make sure you
                        copy the completion code
                    </b>
                </span>
            </div>
        </div>

        <div class="steps-container">
            <div class="number-container text">2</div>
            <div class="content-container">
                <span class="my-3 text">
                    Close this window and return back to the original site with your completion code
                </span>
            </div>
        </div>
    </div>
</div>
