.favorite-star-container {
    width: 50px;

    mat-icon {
        font-size: 26px;
    }

    .add-favorite:hover {
        color: rgb(214, 181, 19);
    }

    .remove-favorite:hover {
        color: red;
    }
}

.panel-item-header {
    line-height: normal;

    .panel-item-header-description {
        color: gray;
    }
}

.task-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.internal-name {
    font-size: 1.4rem;
    display: block;
    margin-left: 5px;
}

.summary-container {
    display: flex;
    flex-direction: column;
}

.link {
    overflow-wrap: break-word;
    color: black;

    &:hover {
        color: blue;
    }
}

.study-id {
    display: flex;
    align-items: center;
    font-size: 2rem;
    background-color: #3f51b5;
    padding: 0 10px;
    color: white;
    border-radius: 8px;
    height: 40px;
    width: 60px;
    justify-content: center;
}

.title {
    background-color: gray !important;
    margin: 15px 0 !important;
    width: 100px;
    font-size: 1rem !important; // override badge styling
    border-radius: 3px !important; // override badge styling
}

.badge {
    margin: 0 5px;
    display: inline-block;
    padding: 6px 10px;
    background-color: #3f51b5;
    color: white;
    border-radius: 10px;
    font-size: 12px;
}

.max-height {
    overflow-y: auto;
    max-height: 500px;
}

.colored-row:nth-child(2n + 1) {
    background-color: #e8e8e896;
}

.delete-button {
    display: block;
    margin-left: auto;
}

.url {
    text-decoration: underline;
    color: blue;
}

.copy-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.study-inactive {
    color: red;
}

.icons {
    font-size: 2.5rem;
    width: 100%;
    margin-left: 10px;
    height: 100%;

    &.started {
        color: green !important;
    }

    &.stopped {
        color: red !important;
    }
}
