<div>
    <div class="d-flex justify-content-between">
        <h2 class="mb-5">Your Studies</h2>
        <div>
            <button mat-raised-button color="primary" [disabled]="!(isAdmin | async)" (click)="navigateToCreateStudy()">
                Create new study <mat-icon style="margin-left: 10px">add_box</mat-icon>
            </button>
        </div>
    </div>

    <mat-accordion multi class="align-accordion-headers">
        <mat-expansion-panel *ngFor="let study of studies | async">
            <mat-expansion-panel-header class="panel-item-header">
                <div class="d-flex w-100" style="flex-direction: row; justify-content: space-between">
                    <div class="flex-column" style="width: 80%; justify-content: space-around">
                        <span style="font-size: 1.5rem">
                            <b>{{ study.internalName ? study.internalName : study.externalName }}</b>
                        </span>
                        <span class="panel-item-header-description text-ellipses">
                            {{ study.description }}
                        </span>
                    </div>
                    <div class="d-flex my-3" style="align-items: center; width: 20%">
                        <mat-slide-toggle
                            [(ngModel)]="study.started"
                            (change)="toggleStudyActiveStatus(study, $event)"
                            (click)="$event.stopPropagation()"
                        >
                            <span [class.study-inactive]="!study.started">
                                {{ study.started ? "Study Active" : "Study Inactive" }}
                            </span>
                        </mat-slide-toggle>
                    </div>
                </div>
            </mat-expansion-panel-header>

            <div>
                <mat-divider class="pb-3"></mat-divider>
                <div class="summary-container">
                    <div class="flex-row-space-between">
                        <div class="flex-column">
                            <span class="title badge">TITLE</span>
                            <span class="internal-name">
                                <b
                                    matTooltipPosition="right"
                                    matTooltip="this is the title that participants will see"
                                    >{{ study.externalName }}</b
                                >
                            </span>
                        </div>
                        <div class="flex-column-space-around">
                            <button
                                class="w-100"
                                matTooltipPosition="left"
                                matTooltip="share this link with participants who are logging in or registering an email with us"
                                mat-button
                                color="primary"
                            >
                                <div class="copy-button-container">
                                    <span> Copy link for participants </span>
                                    <mat-icon class="ml-3">content_copy</mat-icon>
                                </div>
                            </button>
                            <button
                                matTooltipPosition="left"
                                matTooltip="share this link with participants joining from sites like mturk or prolific"
                                mat-button
                            >
                                <div class="copy-button-container">
                                    <span> Copy link for crowd sourced participants </span>
                                    <mat-icon class="ml-3">content_copy</mat-icon>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div>
                        <span class="title badge">TASKS</span>
                    </div>
                    <div>
                        <mat-list role="list">
                            <ng-container *ngFor="let studyTask of study.tasks; let i = index">
                                <mat-list-item class="colored-row h-100" role="listitem">
                                    <div class="task-list my-2">
                                        <span class="d-flex flex-row" style="justify-content: space-between">
                                            <span>
                                                <b> ({{ i + 1 }}) {{ studyTask.task.name }} </b>
                                            </span>
                                            <div class="d-inline">
                                                <span class="badge">
                                                    {{ studyTask.task.taskType }}
                                                </span>
                                                <span class="badge">
                                                    {{ studyTask.task.fromPlatform }}
                                                </span>
                                            </div>
                                        </span>
                                        <span class="text-ellipses" style="color: darkgray">
                                            {{ studyTask.task.description }}
                                        </span>
                                        <span class="url text-ellipses" *ngIf="studyTask.task.externalURL">
                                            Linked to:
                                            <a [href]="studyTask.task.externalURL" target="_blank" class="url">{{
                                                studyTask.task.externalURL
                                            }}</a>
                                        </span>
                                    </div>
                                </mat-list-item>
                            </ng-container>
                        </mat-list>
                    </div>

                    <div class="d-flex my-3" style="justify-content: space-between">
                        <button
                            (click)="handleViewData(study)"
                            class="w-25"
                            mat-raised-button
                            [disabled]="!(isAdmin | async)"
                        >
                            See data
                        </button>

                        <button
                            (click)="handleEdit(study)"
                            class="w-25"
                            color="primary"
                            mat-raised-button
                            [disabled]="!(isAdmin | async)"
                        >
                            Edit Study
                        </button>

                        <button
                            (click)="handleDelete(study)"
                            class="w-25"
                            color="warn"
                            mat-raised-button
                            [disabled]="!(isAdmin | async)"
                        >
                            Delete Study
                        </button>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
