<div class="container-fluid wrapper flex-column-center">

    <!-- Show welcome message -->
    <div class="full-box flex-column-space-between" *ngIf="!isBreak && step === 1">

        <!-- Introduction -->
        <div class="h-100 px-4 uppercase instructions flex-column-center" align="center">
            <img class="w-100" src="/assets/images/instructions/everydaychoice-choice/Slide1.png"
                alt="Choice Task Instructions">
        </div>

        <app-navigation-buttons class="w-100" previousDisabled="true" (onNext)="proceedtoNextStep()"></app-navigation-buttons>
    </div>



    <!-- Show instruction -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 2">

        <!-- Introduction -->

        <div class="h-100 px-4 uppercase instructions flex-column-center" align="center">
            <img class="w-100" src="/assets/images/instructions/everydaychoice-choice/Slide2.png"
                alt="Choice Task Instructions">
        </div>

        <app-navigation-buttons class="w-100" (onPrevious)="proceedtoPreviousStep()" (onNext)="proceedtoNextStep()"></app-navigation-buttons>
    </div>

    <!-- Show instruction -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 3">

        <!-- Introduction -->
        <div class="h-100 px-4 uppercase instructions flex-column-center" align="center">
            <img class="w-100" src="/assets/images/instructions/everydaychoice-choice/Slide3.png"
                alt="Choice Task Instructions">
        </div>
        <app-navigation-buttons class="w-100" (onPrevious)="proceedtoPreviousStep()" (onNext)="proceedtoNextStep()"></app-navigation-buttons>
    </div>


    <!-- Show practice round message -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 4">
        <div class="h-100 px-4 instructions uppercase flex-column-center" align="center">
            <img class="w-100" src="/assets/images/instructions/everydaychoice-choice/Slide4.png"
                alt="Choice Task Instructions">
        </div>

        <app-navigation-buttons class="w-100" (onPrevious)="proceedtoPreviousStep()" isStart="true" (onNext)="startPractice()"></app-navigation-buttons>
    </div>

    <!-- Show loader -->
    <div class="full-box flex-column-center" *ngIf="!isBreak && step === 5">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- Start Practice Round -->
    <div class="full-box flex-column-center" *ngIf="!isBreak && step === 6">

        <!-- top half -->
        <div style="height: 50%;" class="d-flex justify-content-between align-items-center w-100">

            <div *ngIf="isStimulus" class="d-flex justify-content-between align-items-center w-100"
                style="width: 100%; text-align: center;">

                <span style=" width: 40%; font-size: 3rem; font-weight:bold; line-height: normal; margin-left: 3rem; vertical-align: top;">
                    {{currentActivityLeft}}
                </span>
                <span style=" width: 20%;">
                </span>
                <span style="  width: 40%; font-size: 3rem; font-weight:bold; line-height: normal; margin-right: 3rem; vertical-align: top;">
                    {{currentActivityRight}}
                </span>

            </div>

        </div>

        <!-- bottom half -->
        <div style="height: 50%;" class="d-flex justify-content-center w-100">
            <div *ngIf="isRatingscale" align="center" style="position: absolute; height: 30%">
                <img src="/assets/images/stimuli/everydayChoice_ratingScale/ratingScale_choice.png">
            </div>
        </div>

    </div>

    <!-- Show loader -->
    <div class="full-box flex-column-center" *ngIf="!isBreak && step === 7">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>


    <!-- Show practice round finished message -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 8">
        <!-- Practice round complete -->
        <div class="h-100 px-4 instructions uppercase flex-column-center" align="center">
            <img class="w-100" src="/assets/images/instructions/everydaychoice-choice/Slide5.png"
                alt="Choice Task Instructions">
        </div>

        <app-navigation-buttons class="w-100" previousDisabled="true" isStart="true" (onNext)="startActualGame()"></app-navigation-buttons>
    </div>


    <!-- Show loader -->
    <div class="full-box flex-column-center" *ngIf="!isBreak && step === 9">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- Start Actual Round -->
    <div class="full-box flex-column-center" *ngIf="!isBreak && step === 10">

        <!-- top half -->
        <div style="height: 50%;" class="d-flex justify-content-between align-items-center w-100">

            <div *ngIf="isStimulus" class="d-flex justify-content-between align-items-center w-100"
                style="width: 100%; text-align: center;">

                <span style="  width: 40%; font-size: 3rem; font-weight:bold; line-height: normal; margin-left: 3rem; vertical-align: top;">
                    {{currentActivityLeft}}
                </span>
                <span style=" width: 20%;">
                </span>
                <span style="  width: 40%; font-size: 3rem; font-weight:bold; line-height: normal; margin-right: 3rem; vertical-align: top;">
                    {{currentActivityRight}}
                </span>

            </div>

        </div>

        <!-- bottom half -->
        <div style="height: 50%;" class="d-flex justify-content-center w-100">
            <div *ngIf="isRatingscale" align="center" style="position: absolute; height: 30%">
                <img src="/assets/images/stimuli/everydayChoice_ratingScale/ratingScale_choice.png">
            </div>
        </div>

    </div>


    <!-- Show loader -->
    <div class="full-box flex-column-center" *ngIf="!isBreak && step === 11">
        <mat-spinner [diameter]="75"></mat-spinner>
    </div>

    <!-- Show Game Finished message -->
    <div class="full-box d-flex flex-column align-items-center justify-content-between" *ngIf="!isBreak && step === 12">
        <!-- Second part complete -->
        <div class="h-100 px-4 uppercase instructions flex-column-center" align="center">
            <img class="w-100" src="/assets/images/instructions/everydaychoice-choice/Slide6.png"
                alt="Post-Choice Rating Task Instructions">
        </div>

        <app-navigation-buttons class="w-100" previousDisabled="true" (onNext)="continueAhead()"></app-navigation-buttons>
    </div>



</div>