<mat-tab-group (selectedTabChange)="saveTabPref($event)" [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="Psharplab Tasks">
        <div class="p-4">
            <app-view-tasks></app-view-tasks>
        </div>
    </mat-tab>
    <mat-tab label="Psharplab Questionnaires">
        <div class="p-4">
            <app-manage-questionnaires></app-manage-questionnaires>
        </div>
    </mat-tab>
    <mat-tab label="Pavlovia Tasks">
        <div class="p-4">
            <app-pavlovia-tasks></app-pavlovia-tasks>
        </div>
    </mat-tab>
    <mat-tab label="Info Display Slides">
        <div class="p-4">
            <app-view-info-displays></app-view-info-displays>
        </div>
    </mat-tab>
</mat-tab-group>
