<div class="card-padding">
    <h1 style="color: #3f51b5">{{ 'landing-page.register.welcome' | translate }}</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>{{ 'landing-page.register.email' | translate }}</mat-label>
            <input matInput formControlName="email" type="email" placeholder="example@domain.com" email required />
            <mat-error *ngIf="registerForm.get('email')?.hasError('required')">{{
                'errorMessages.required' | translate
            }}</mat-error>
            <mat-error *ngIf="registerForm.get('email')?.hasError('email')">{{
                'errorMessages.emailInvalid' | translate
            }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>{{ 'landing-page.register.confirm-email' | translate }}</mat-label>
            <input
                matInput
                formControlName="confirmEmail"
                placeholder="example@domain.com"
                type="email"
                email
                required
            />
            <mat-error *ngIf="registerForm.get('confirmEmail')?.hasError('required')">{{
                'errorMessages.required' | translate
            }}</mat-error>
            <mat-error *ngIf="registerForm.get('confirmEmail')?.hasError('email')">{{
                'errorMessages.emailInvalid' | translate
            }}</mat-error>
            <mat-error *ngIf="registerForm.hasError('emailMatchErr')">{{
                'errorMessages.emailsMustMatch' | translate
            }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>{{ 'landing-page.register.password' | translate }}</mat-label>
            <mat-icon style="cursor: pointer" (click)="togglePasswordVisibility()" matSuffix>{{
                passwordIsVisible ? 'visibility' : 'visibility_off'
            }}</mat-icon>
            <input
                formControlName="password"
                #password
                [type]="passwordIsVisible ? 'text' : 'password'"
                matInput
                placeholder="my-strong-password"
                required
            />
            <mat-error *ngIf="registerForm.get('password')?.hasError('required')">{{
                'errorMessages.required' | translate
            }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>{{ 'landing-page.register.confirm-password' | translate }}</mat-label>
            <mat-icon style="cursor: pointer" (click)="togglePasswordVisibility()" matSuffix>{{
                passwordIsVisible ? 'visibility' : 'visibility_off'
            }}</mat-icon>
            <input
                formControlName="confirmPassword"
                [type]="passwordIsVisible ? 'text' : 'password'"
                matInput
                placeholder="my-strong-password"
                required
            />
            <mat-error *ngIf="registerForm.get('confirmPassword').hasError('required')">{{
                'errorMessages.required' | translate
            }}</mat-error>
            <mat-error *ngIf="registerForm.hasError('passwordMatchErr')">{{
                'errorMessages.passwordsMustMatch' | translate
            }}</mat-error>
        </mat-form-field>
        <a
            class="btn-block mb-3 underline-on-hover"
            style="color: #3f51b5; font-size: 1.2rem; line-height: normal"
            (click)="navigateToLoginPage()"
        >
            {{ 'landing-page.register.already-registered' | translate }}
        </a>
        <div matRipple matRippleColor="#ffffff33">
            <button
                type="submit"
                class="btn-block py-2"
                mat-flat-button
                color="primary"
                [disabled]="!registerForm.valid"
                style="text-transform: uppercase"
            >
                {{ 'landing-page.register.register-button' | translate }}
            </button>
        </div>
    </form>
</div>
