<div class="card-padding">
    <div align="center">
        <h1 style="color: #3f51b5">Welcome to the sharplab</h1>
    </div>
    <br />
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="py-1" floatLabel="always">
            <mat-label>EMAIL</mat-label>
            <mat-icon matSuffix>email</mat-icon>
            <input matInput formControlName="email" type="email" placeholder="example@domain.com" email required />
            <mat-error *ngIf="registerForm.get('email')?.hasError('required')">This is required</mat-error>
            <mat-error *ngIf="registerForm.get('email')?.hasError('email')">This must be a valid email</mat-error>
        </mat-form-field>
        <mat-form-field class="py-1" floatLabel="always">
            <mat-label>PASSWORD</mat-label>
            <mat-icon matSuffix>vpn_key</mat-icon>
            <input
                type="text"
                formControlName="password"
                #password
                type="password"
                matInput
                placeholder="my-strong-password"
            />
            <mat-error *ngIf="registerForm.get('password')?.hasError('required')">This is required</mat-error>
        </mat-form-field>
        <mat-form-field class="py-1" floatLabel="always">
            <mat-label>CONFIRM PASSWORD</mat-label>
            <mat-icon matSuffix>vpn_key</mat-icon>
            <input
                type="text"
                formControlName="confirmPassword"
                type="password"
                matInput
                placeholder="my-strong-password"
            />
            <mat-error *ngIf="registerForm.get('confirmPassword').hasError('required')">This is required</mat-error>
            <mat-error *ngIf="registerForm.hasError('passwordMatch')">Passwords must match</mat-error>
        </mat-form-field>
        <div matRipple matRippleColor="#ffffff33" class="mt-3">
            <button
                type="submit"
                class="btn-block btn-sm rounded-btn"
                mat-raised-button
                color="primary"
                [disabled]="!registerForm.valid"
            >
                REGISTER
            </button>
        </div>
        <div>
            <div matRipple matRippleColor="#ffffff33">
                <button class="btn-block" style="color: #3f51b5" mat-button (click)="navigateToLoginPage()">
                    Already registered? <b>Log In</b>
                </button>
            </div>
        </div>
    </form>

    <div style="display: flex; flex-direction: row; color: #3f51b5" class="my-4">
        <button
            style="white-space: normal; line-height: normal"
            class="btn-block p-2"
            mat-button
            (click)="navigateToCrowdSourceRegister()"
        >
            Mturk or Prolific Participant? Click here
        </button>
        <mat-divider [vertical]="true"></mat-divider>
        <button
            style="white-space: normal; line-height: normal; color: #3f51b5"
            class="btn-block p-2"
            mat-button
            (click)="navigateToForgotPassword()"
        >
            Forgot your password? Click here
        </button>
    </div>
</div>
