<div style="width: 100%; height: 100%" class="flex-column-center">
    <div style="width: 50%">
        <h6 style="font-size: 2rem; color: salmon" class="mb-4">We encountered an error.</h6>
        <div style="font-size: 1.5rem; line-height: normal" class="mb-4">
            While running the task, we ran into an error. In order to report this and help us fix it as fast as
            possible, please do the following:
        </div>
        <div class="steps-container">
            <div class="number-container text">1</div>
            <div class="content-container">
                <span class="my-3" style="font-size: 1.5rem; line-height: normal">
                    The task information and error is displayed below. Please click the "COPY" button to copy it to your
                    clipboard.
                </span>
                <div style="background-color: rgb(233, 233, 233); padding: 1rem; border-radius: 8px">
                    <div style="text-align: end" class="mb-2">
                        <button mat-button [cdkCopyToClipboard]="" color="primary">
                            <span> Copy link for participants </span>
                            <mat-icon class="ml-3">content_copy</mat-icon>
                        </button>
                    </div>
                    <div style="color: salmon">
                        {{ stackTrace }}
                    </div>
                </div>
            </div>
        </div>
        <div class="steps-container">
            <div class="number-container text">2</div>
            <div class="content-container">
                <span class="my-2" style="font-size: 1.5rem; line-height: normal">
                    Paste the error into an email and send it to
                    <a href="mailto:sharplab.neuro@mcgill.ca">sharplab.neuro@mcgill.ca</a>
                </span>
            </div>
        </div>
        <div class="steps-container">
            <div class="number-container text">3</div>
            <div class="content-container">
                <span class="my-2" style="font-size: 1.5rem; line-height: normal"> Go back to the main menu.</span>
                <span style="font-size: 1.5rem; line-height: normal">
                    Thank for your participation and your assistance!
                </span>
            </div>
        </div>
    </div>
</div>
