.snackbar-container {
    display: flex;
    align-items: center;

    .snackbar:not(:last-child) {
        margin-bottom: 1rem;
    }

    .snackbar {
        font-size: 1rem;
        line-height: normal;
    }

    .text-content {
        flex-grow: 1;
    }

    .action {
    }
}
