<div class="wrapper task-text flex-column-center">
    <div class="full-box flex-column-center" style="justify-content: space-around">
        <div class="stimuli-container" *ngIf="shouldShowStimulus">
            <img
                style="margin-right: 300px"
                class="stimulus"
                [src]="'/assets/images/stimuli/plt/' + leftStimulusShownPath"
                alt="Stimulus"
            />
            <img class="stimulus" [src]="'/assets/images/stimuli/plt/' + rightStimulusShownPath" alt="Stimulus" />
        </div>

        <ng-container *ngIf="showFixation">
            <i class="material-icons" style="font-size: 60px">add</i>
        </ng-container>

        <div *ngIf="showFeedback" align="center">
            <div class="feedback">
                <div *ngIf="feedback">{{ feedback | translate }}</div>
                <div style="font-size: 2rem" *ngIf="trialScore > 0 && !isPractice">+{{ trialScore }}</div>
            </div>
        </div>
    </div>
</div>
