@import '~ng-zorro-antd/ng-zorro-antd.min.css';
@import '~ng-zorro-antd/style/index.min.css';
@import './app/sass/mixins';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: white;
}

.skip-button {
    position: absolute !important;
    top: 20px !important;
    left: 20px !important;
}

// remove outlines when button is clicked
button {
    outline: none !important;
}

.underline-on-hover {
    &:hover {
        text-decoration: underline !important;
    }
}

.task-text {
    line-height: normal;
    text-align: center;
}

@include for-small-device-only {
    .task-text {
        font-size: 14px;
    }
}

@include for-small-desktop-only {
    .task-text {
        font-size: 18px;
    }
}

@include for-desktop-up {
    .task-text {
        font-size: 22px;
    }
}

@include for-large-desktop-up {
    .task-text {
        font-size: 24px;
    }
}

// handles global breakpoints for study instructions. These instructions are in the format
// of .pngs. Pass in the png, create a div wrapper and set the class of the div wrapper to "instructions"
.instructions {
    width: 100%;
    @include for-small-device-only {
        max-width: 600px;
    }

    @include for-small-desktop-only {
        max-width: 900px;
    }

    @include for-desktop-up {
        max-width: 1100px;
    }

    @include for-large-desktop-up {
        max-width: 1100px;
    }
}

.responsive-font-size {
    @include for-small-device-only {
        &-sm {
            font-size: 0.8rem !important;
            line-height: 1.4 !important;
        }

        &-md {
            font-size: 1rem !important;
            line-height: 1.4 !important;
        }

        &-lg {
            font-size: 1.2rem !important;
            line-height: 1.4 !important;
        }

        &-xl {
            font-size: 1.4rem !important;
            line-height: 1.4 !important;
        }
    }

    @include for-small-desktop-only {
        &-sm {
            font-size: 1rem !important;
            line-height: 1.6 !important;
        }

        &-md {
            font-size: 1.2rem !important;
            line-height: 1.6 !important;
        }

        &-lg {
            font-size: 1.4rem !important;
            line-height: 1.6 !important;
        }

        &-xl {
            font-size: 1.6rem !important;
            line-height: 1.6 !important;
        }
    }

    @include for-desktop-up {
        &-sm {
            font-size: 1.2rem !important;
            line-height: 1.6 !important;
        }

        &-md {
            font-size: 1.4rem !important;
            line-height: 1.6 !important;
        }

        &-lg {
            font-size: 1.6rem !important;
            line-height: 1.6 !important;
        }

        &-xl {
            font-size: 1.8rem !important;
            line-height: 1.6 !important;
        }
    }

    @include for-large-desktop-up {
        &-sm {
            font-size: 1.4rem !important;
            line-height: 1.6 !important;
        }

        &-md {
            font-size: 1.6rem !important;
            line-height: 1.6 !important;
        }

        &-lg {
            font-size: 1.8rem !important;
            line-height: 1.6 !important;
        }

        &-xl {
            font-size: 2rem !important;
            line-height: 1.6 !important;
        }
    }
}

.color-primary {
    color: #3f51b5;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-column-space-between {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.flex-column-space-around {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-row-space-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-row-space-around {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.text-ellipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper {
    @include for-small-device-only {
        min-height: 540px;
        overflow-y: auto;
    }

    @include for-small-desktop-only {
        min-height: 612px;
        overflow-y: auto;
    }

    @include for-desktop-up {
        min-height: 698px;
        overflow-y: auto;
    }

    @include for-large-desktop-up {
        min-height: 772px;
        overflow-y: auto;
    }

    height: 100%;
    padding: 10px;
    .consent-box {
        width: 100%;
        height: 100%;
        border: solid thin #cccccc;
        border-radius: 5px;
    }

    .full-box {
        width: 100%;
        height: 100%;
        border: solid thin #cccccc;
        border-radius: 5px;
    }

    .scrollable {
        max-height: 100%;
        overflow-y: auto;
        background: #eeeeee;
    }

    p {
        text-align: justify;
    }

    .uppercase {
        text-transform: uppercase;
    }

    .feedback {
        font-size: 3rem;
        text-transform: uppercase;
    }
}

*:fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
    background-color: rgba(255, 255, 255, 0);
}

// global angular materials CSS overrides
.mat-form-field-label {
    color: #3f51b5 !important;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    padding: 0px 8px !important;
    white-space: nowrap;
}

.mat-expansion-panel {
    padding: 8px 0;
}

.mat-mini-fab {
    border-radius: 4px !important;
}

.error-text {
    color: red;
}

.snack-bar {
    color: white;

    .mat-simple-snackbar-action {
        background-color: #323232;
        border-radius: 5px;
        color: white;
    }
}

.snack-bar-success {
    background-color: green;
}

// .snack-bar-info {
// }

.snack-bar-error {
    background-color: #d44950;
}

.mat-toolbar {
    z-index: 100;
}

.mat-dialog-container {
    z-index: 101;
}

.mat-standard-chip {
    min-height: 20px !important;
}

.center-snackbar {
    margin-bottom: 50vh !important;
}

.mat-grid-tile {
    background-color: #f3f3f3 !important;
    text-align: center;
    color: #3f51b5;
}

// ng zorro styling overrides

.ant-slider-handle {
    width: 20px;
    height: 20px;
    margin-top: -8px;
}

.ant-slider-rail {
    background-color: #3f51b5;
}

.ant-slider-mark-text {
    color: black;
    width: 25%;

    @include for-small-device-only {
        font-size: 0.8rem;
    }

    @include for-small-desktop-only {
        font-size: 1.2rem;
    }

    @include for-desktop-up {
        font-size: 1.4rem;
    }

    @include for-large-desktop-up {
        font-size: 1.6rem;
    }
}

// fix due to issue with drag and drop not working inside of mat dialog
html.cdk-global-scrollblock {
    position: initial !important;
}

html.cdk-global-scrollblock body {
    position: fixed;
}

// for the questionnaire component to put the label above the radio buttons
.mat-radio-group {
    .label-above {
        flex-grow: 1;
        flex-basis: 0;
        .mat-radio-label {
            flex-direction: column-reverse;
            white-space: initial;
        }
        .mat-radio-label-content {
            padding-left: 0;
        }
    }
}

.mat-progress-bar {
    height: 18px !important;
    border-radius: 8px;
}

.mat-progress-bar-buffer {
    background-color: lightgray;
}
