<mat-toolbar color="primary" class="mat-elevation-z6 sticky-top">
    <span class="title">Dashboard</span>
    <span style="flex: 1 1 auto;"></span>
    <span></span>
</mat-toolbar>

<div class="container-fluid p-4">
    <h3 class="mat-h3">
        Pilot Tasks
    </h3>
    <hr>
    <br>

    <div>
        <table mat-table [dataSource]="tasks" class="mat-elevation-z3">

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let task"> {{task.title}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let task"> {{task.description}} </td>
            </ng-container>

            <ng-container matColumnDef="config">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let task"> <button mat-icon-button (click)="run('experiments', task.config)">
                        <mat-icon>play_arrow</mat-icon>
                    </button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>

</div>

<div class="container-fluid p-4">
    <h3 class="mat-h3">
        Experiments
    </h3>
    <hr>
    <br>

    <div>
        <table mat-table [dataSource]="experiments" class="mat-elevation-z3">

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let experiment"> {{experiment.title}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let experiment"> {{experiment.description}} </td>
            </ng-container>

            <ng-container matColumnDef="config">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let experiment"><button mat-icon-button
                        (click)="run('experiments', experiment.config)">
                        <mat-icon>play_arrow</mat-icon>
                    </button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>
</div>

<div class="container-fluid p-4">
    <h3 class="mat-h3">
        Questionnaires
    </h3>
    <hr>
    <br>

    <div>
        <table mat-table [dataSource]="questionnaires" class="mat-elevation-z3">

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let questionnaire"> {{questionnaire.title}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let questionnaire"> {{questionnaire.description}} </td>
            </ng-container>

            <ng-container matColumnDef="config">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let questionnaire"><button mat-icon-button>
                        <mat-icon>play_arrow</mat-icon>
                    </button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>
</div>

<div class="container-fluid p-4">
    <h3 class="mat-h3">
        Workflows
    </h3>
    <hr>
    <br>

    <div>
        <table mat-table [dataSource]="workflows" class="mat-elevation-z3">

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let workflow"> {{workflow.title}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let workflow"> {{workflow.description}} </td>
            </ng-container>

            <ng-container matColumnDef="config">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let workflow"><button mat-icon-button>
                        <mat-icon>play_arrow</mat-icon>
                    </button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>
</div>