<mat-toolbar color="primary" class="sticky-top justify-content-between">
    <div>
        <span class="title">Dashboard</span>
    </div>
    <div>
        <a class="menu-item" routerLinkActive="active" routerLink="/dashboard/experiments" mat-button color="basic">Studies</a>
        <a class="menu-item" routerLinkActive="active" routerLink="/dashboard/tasks" mat-button color="basic">Task List</a>
        <a class="menu-item" routerLinkActive="active" routerLink="/dashboard/data" mat-button color="basic">Download Data</a>
        <a class="menu-item" (click)="logout()" mat-button #tooltip="matTooltip" matTooltip="Log out"><mat-icon>exit_to_app</mat-icon></a>
    </div>
</mat-toolbar>