<div class="container-fluid scrollable">

    <h1 class="mat-h1" align="center">
        CONSENT
    </h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore
        magna
        aliqua. Purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae. Adipiscing commodo elit at
        imperdiet
        dui
        accumsan. Arcu dictum varius duis at consectetur lorem donec massa sapien. Consectetur adipiscing elit
        pellentesque
        habitant. Ultricies tristique nulla aliquet enim tortor at auctor urna. A scelerisque purus semper eget duis
        at
        tellus.
        Ultrices in iaculis nunc sed augue lacus. Elementum facilisis leo vel fringilla. Nibh nisl condimentum id
        venenatis a.
    </p>

    <p>
        Condimentum lacinia quis vel eros donec ac odio. Justo nec ultrices dui sapien eget mi. Tristique senectus
        et
        netus et.
        Sed cras ornare arcu dui vivamus arcu felis. Vitae suscipit tellus mauris a diam maecenas sed enim. Mauris
        pharetra et
        ultrices neque ornare aenean euismod elementum. Urna nec tincidunt praesent semper. Rhoncus urna neque
        viverra
        justo.
        Malesuada fames ac turpis egestas maecenas pharetra convallis. Fermentum odio eu feugiat pretium nibh ipsum
        consequat
        nisl. Neque sodales ut etiam sit. In pellentesque massa placerat duis ultricies. Massa ultricies mi quis
        hendrerit dolor
        magna eget. Sodales ut eu sem integer vitae justo. Aliquet nec ullamcorper sit amet risus nullam eget. Vitae
        ultricies
        leo integer malesuada. Nulla pharetra diam sit amet nisl.
    </p>

    <p>
        Imperdiet proin fermentum leo vel orci porta. Magnis dis parturient montes nascetur. Ultricies tristique
        nulla
        aliquet
        enim tortor at auctor urna. Velit aliquet sagittis id consectetur purus ut. Id diam maecenas ultricies mi
        eget
        mauris.
        Quis eleifend quam adipiscing vitae proin. Sit amet mattis vulputate enim nulla aliquet porttitor lacus
        luctus.
        Egestas
        congue quisque egestas diam in arcu. Lacus vestibulum sed arcu non odio euismod lacinia. Amet mattis
        vulputate
        enim
        nulla aliquet porttitor lacus luctus accumsan. Leo integer malesuada nunc vel risus commodo viverra. Cras
        fermentum odio
        eu feugiat pretium. Dolor magna eget est lorem ipsum dolor sit amet consectetur.
    </p>

    <p>
        Arcu odio ut sem nulla pharetra diam sit amet nisl. Velit dignissim sodales ut eu sem integer vitae justo.
        Adipiscing
        vitae proin sagittis nisl rhoncus mattis. Mollis nunc sed id semper risus in hendrerit gravida rutrum. Vitae
        congue
        mauris rhoncus aenean. Euismod in pellentesque massa placerat duis. Enim praesent elementum facilisis leo
        vel
        fringilla
        est ullamcorper. Arcu dictum varius duis at consectetur lorem donec. Penatibus et magnis dis parturient.
        Dignissim enim
        sit amet venenatis urna cursus. Vitae semper quis lectus nulla at volutpat.
    </p>

    <p>
        Amet justo donec enim diam vulputate ut pharetra. Convallis a cras semper auctor neque vitae tempus quam
        pellentesque.
        Ultrices neque ornare aenean euismod elementum. Amet massa vitae tortor condimentum lacinia quis vel eros
        donec.
        Viverra
        aliquet eget sit amet tellus. Adipiscing elit ut aliquam purus. Egestas pretium aenean pharetra magna ac
        placerat
        vestibulum. Libero volutpat sed cras ornare arcu. Et magnis dis parturient montes nascetur ridiculus mus
        mauris.
        Feugiat
        pretium nibh ipsum consequat nisl vel pretium. Dictum fusce ut placerat orci nulla. Laoreet suspendisse
        interdum
        consectetur libero id faucibus nisl tincidunt.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore
        magna
        aliqua. Purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae. Adipiscing commodo elit at
        imperdiet
        dui
        accumsan. Arcu dictum varius duis at consectetur lorem donec massa sapien. Consectetur adipiscing elit
        pellentesque
        habitant. Ultricies tristique nulla aliquet enim tortor at auctor urna. A scelerisque purus semper eget duis
        at
        tellus.
        Ultrices in iaculis nunc sed augue lacus. Elementum facilisis leo vel fringilla. Nibh nisl condimentum id
        venenatis a.
    </p>

    <p>
        Condimentum lacinia quis vel eros donec ac odio. Justo nec ultrices dui sapien eget mi. Tristique senectus
        et
        netus et.
        Sed cras ornare arcu dui vivamus arcu felis. Vitae suscipit tellus mauris a diam maecenas sed enim. Mauris
        pharetra et
        ultrices neque ornare aenean euismod elementum. Urna nec tincidunt praesent semper. Rhoncus urna neque
        viverra
        justo.
        Malesuada fames ac turpis egestas maecenas pharetra convallis. Fermentum odio eu feugiat pretium nibh ipsum
        consequat
        nisl. Neque sodales ut etiam sit. In pellentesque massa placerat duis ultricies. Massa ultricies mi quis
        hendrerit dolor
        magna eget. Sodales ut eu sem integer vitae justo. Aliquet nec ullamcorper sit amet risus nullam eget. Vitae
        ultricies
        leo integer malesuada. Nulla pharetra diam sit amet nisl.
    </p>

    <p>
        Imperdiet proin fermentum leo vel orci porta. Magnis dis parturient montes nascetur. Ultricies tristique
        nulla
        aliquet
        enim tortor at auctor urna. Velit aliquet sagittis id consectetur purus ut. Id diam maecenas ultricies mi
        eget
        mauris.
        Quis eleifend quam adipiscing vitae proin. Sit amet mattis vulputate enim nulla aliquet porttitor lacus
        luctus.
        Egestas
        congue quisque egestas diam in arcu. Lacus vestibulum sed arcu non odio euismod lacinia. Amet mattis
        vulputate
        enim
        nulla aliquet porttitor lacus luctus accumsan. Leo integer malesuada nunc vel risus commodo viverra. Cras
        fermentum odio
        eu feugiat pretium. Dolor magna eget est lorem ipsum dolor sit amet consectetur.
    </p>

    <p>
        Arcu odio ut sem nulla pharetra diam sit amet nisl. Velit dignissim sodales ut eu sem integer vitae justo.
        Adipiscing
        vitae proin sagittis nisl rhoncus mattis. Mollis nunc sed id semper risus in hendrerit gravida rutrum. Vitae
        congue
        mauris rhoncus aenean. Euismod in pellentesque massa placerat duis. Enim praesent elementum facilisis leo
        vel
        fringilla
        est ullamcorper. Arcu dictum varius duis at consectetur lorem donec. Penatibus et magnis dis parturient.
        Dignissim enim
        sit amet venenatis urna cursus. Vitae semper quis lectus nulla at volutpat.
    </p>

    <p>
        Amet justo donec enim diam vulputate ut pharetra. Convallis a cras semper auctor neque vitae tempus quam
        pellentesque.
        Ultrices neque ornare aenean euismod elementum. Amet massa vitae tortor condimentum lacinia quis vel eros
        donec.
        Viverra
        aliquet eget sit amet tellus. Adipiscing elit ut aliquam purus. Egestas pretium aenean pharetra magna ac
        placerat
        vestibulum. Libero volutpat sed cras ornare arcu. Et magnis dis parturient montes nascetur ridiculus mus
        mauris.
        Feugiat
        pretium nibh ipsum consequat nisl vel pretium. Dictum fusce ut placerat orci nulla. Laoreet suspendisse
        interdum
        consectetur libero id faucibus nisl tincidunt.
    </p>

    <div align="center" class="bottom-button-bar">
        <div class="d-flex flex-row align-items-center justify-content-center">
            <div class="m-2">
                <button mat-raised-button color="warn" (click)="consent(false)">DECLINE</button>
            </div>
            <div class="m-2">
                <button mat-raised-button color="primary" (click)="consent(true)">ACCEPT</button>
            </div>
        </div>
    </div>

</div>