<div>
    <div class="d-flex justify-content-between">
        <h2 class="mb-3">{{ mode === "CREATE" ? "Create a new study" : "Edit study" }}</h2>
        <div>
            <button
                *ngIf="mode === 'CREATE'"
                mat-raised-button
                color="primary"
                [disabled]="!(isAdmin | async)"
                (click)="navigateToViewAllStudies()"
            >
                View all studies <mat-icon style="margin-left: 10px">view_list</mat-icon>
            </button>
        </div>
    </div>
    <hr />
    <div>
        <div [formGroup]="studyForm">
            <mat-form-field class="w-50 d-block">
                <mat-label>External Study Name</mat-label>
                <input required formControlName="externalName" matInput type="text" placeholder="My study" />
                <mat-error *ngIf="studyForm.get('externalName')?.hasError('required')">This is required</mat-error>
                <mat-error *ngIf="studyForm.get('externalName')?.hasError('maxlength')">Max 255 characters</mat-error>
            </mat-form-field>
            <mat-form-field class="w-50 d-block">
                <mat-label>Internal Study Name (optional)</mat-label>
                <input
                    formControlName="internalName"
                    matInput
                    type="text"
                    placeholder="My study - participants can't see this"
                />
                <mat-error *ngIf="studyForm.get('internalName')?.hasError('maxlength')">Max 255 characters</mat-error>
            </mat-form-field>
            <mat-form-field class="w-50 d-block">
                <mat-label>Description (optional)</mat-label>
                <textarea rows="4" formControlName="description" matInput type="text"></textarea>
                <mat-error *ngIf="studyForm.get('description')?.hasError('maxlength')">Max 500 characters</mat-error>
            </mat-form-field>
            <mat-form-field class="w-50">
                <mat-label>Consent For Study</mat-label>
                <mat-select required formControlName="consent">
                    <mat-option *ngFor="let consentForm of consentForms | async" [value]="consentForm.id">{{
                        consentForm.name
                    }}</mat-option>
                </mat-select>
            </mat-form-field>

            <hr />

            <mat-label class="d-block">Build Your Study</mat-label>
            <mat-form-field class="select-task">
                <mat-label>Sharplab Tasks</mat-label>
                <mat-select
                    [disabled]="study && !study.canEdit"
                    [matTooltip]="study && !study?.canEdit ? 'cannot edit tasks once the study has been started' : null"
                >
                    <mat-optgroup label="NAB">
                        <mat-option
                            (click)="handleSelection(task)"
                            *ngFor="let task of NABPsharplabTasks | async"
                            [value]="task"
                            >{{ task.name }}</mat-option
                        >
                    </mat-optgroup>
                    <mat-optgroup label="Experimental">
                        <mat-option
                            (click)="handleSelection(task)"
                            *ngFor="let task of experimentalPsharplabTasks | async"
                            [value]="task"
                            >{{ task.name }}</mat-option
                        >
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="select-task pad">
                <mat-label>Questionnaires</mat-label>
                <mat-select
                    [disabled]="study && !study.canEdit"
                    [matTooltip]="study && !study?.canEdit ? 'cannot edit tasks once the study has been started' : null"
                >
                    <mat-option
                        (click)="handleSelection(questionnaire)"
                        *ngFor="let questionnaire of questionnaires | async"
                        [value]="questionnaire"
                        >{{ questionnaire.name }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
            <mat-form-field class="select-task">
                <mat-label>Pavlovia Tasks</mat-label>
                <mat-select
                    [disabled]="study && !study.canEdit"
                    [matTooltip]="study && !study?.canEdit ? 'cannot edit tasks once the study has been started' : null"
                >
                    <mat-optgroup label="NAB">
                        <mat-option
                            (click)="handleSelection(task)"
                            *ngFor="let task of NABPavloviaTasks | async"
                            [value]="task"
                            >{{ task.name }}</mat-option
                        >
                    </mat-optgroup>
                    <mat-optgroup label="Experimental">
                        <mat-option
                            (click)="handleSelection(task)"
                            *ngFor="let task of experimentalPavloviaTasks | async"
                            [value]="task"
                            >{{ task.name }}</mat-option
                        >
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="mx-auto my-3">
            <div *ngIf="selectedTasks.length > 0" class="droplist" cdkDropList (cdkDropListDropped)="drop($event)">
                <div
                    class="dropbox {{ task.taskType }}"
                    [class.disabled]="study && !study.canEdit"
                    *ngFor="let task of selectedTasks; let i = index"
                    cdkDrag
                    [cdkDragDisabled]="study && !study.canEdit"
                >
                    <div style="width: 10%">
                        <span class="droplist-item-number">
                            {{ i + 1 }}
                        </span>
                    </div>
                    <div class="dropbox-text-container">
                        <div class="droplist-title-container">
                            <span class="droplist-item-title">
                                {{ task.name }}
                            </span>
                            <div>
                                <span class="badge">{{ task.taskType }}</span>
                                <span class="badge">{{ task.fromPlatform }}</span>
                            </div>
                        </div>
                        <span class="text-ellipses">
                            {{ task.description }}
                        </span>
                    </div>
                    <div style="width: 10%; text-align: end">
                        <mat-icon class="droplist-item-cancel" (click)="removeElement(i)">cancel</mat-icon>
                    </div>
                </div>
            </div>
            <span class="text-danger" *ngIf="selectedTasks.length < 1">At least one task is required</span>
        </div>

        <hr />
    </div>
    <div class="my-2">
        <button
            [disabled]="!studyForm.valid || selectedTasks.length < 1"
            class="w-25"
            mat-raised-button
            color="primary"
            (click)="onSubmit()"
        >
            Submit
        </button>
    </div>
</div>
